<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Xác nhận mã</title>
    <link rel="stylesheet" href="/css/stylelogin.css">
</head>
<body>
    <div class="wrapper">
        <h1>Nhập mã xác nhận</h1>
        <p>Chúng tôi đã gửi một mã xác nhận đến email của bạn. Vui lòng nhập mã đó vào ô dưới đây.</p>
        <form th:action="@{/verify-code}" method="post">
            <input type="text" required placeholder="Nhập mã xác nhận" name="verificationCode">
            <input type="submit" class="button" value="Xác nhận" />
        </form>
        <div th:if="${error}" class="error">
            <p th:text="${error}"></p>
        </div>
    </div>
</body>
</html>
