/* styleforgot.css */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background: #dfe9f5;
}

.wrapper {
	max-width: 400px;
	margin: 50px auto;
	padding: 20px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
	text-align: center;
}

h1 {
	margin-bottom: 20px;
	font-size: 24px;
	color: #333;
}

p {
	margin-bottom: 20px;
	color: #666;
}

form {
	display: flex;
	flex-direction: column;
}

input[type="email"],
input[type="number"],
button {
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 16px;
}

button {
	background: #2e4ead;
	color: #fff;
	border: none;
	cursor: pointer;
	transition: background 0.3s;
}

button:hover {
	background: #2548a0;
}

.error-message {
	color: red;
	font-size: 0.9em;
	margin-bottom: 10px;
}

.not-member {
	margin-top: 20px;
	color: #666;
}

.not-member a {
	color: #2e4ead;
	text-decoration: none;
}

.not-member a:hover {
	text-decoration: underline;
}
