
/* NAVBAR */
#content nav {
	height: 56px;
	background: #F9F9F9;
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: 'Lato', sans-serif;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}
#content nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 #F9F9F9;
}
#content nav a {
	color: #342E37;
}
#content nav .bx.bx-menu {
	cursor: pointer;
	color: #342E37;
}
#content nav .nav-link {
	font-size: 16px;
	transition: .3s ease;
}
#content nav .nav-link:hover {
	color: #3C91E6;
}
#content nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
#content nav form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
}
#content nav form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background:  #eee;
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: #342E37;
}
#content nav form .form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #3C91E6;
	color: #F9F9F9;
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}
#content nav .notification {
	font-size: 20px;
	position: relative;
}
#content nav .notification .num {
	position: absolute;
	top: -6px;
	right: -6px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid #F9F9F9;
	background: #DB504A;
	color: #F9F9F9;
	font-weight: 700;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content nav .profile img {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
}
#content nav .switch-mode {
	display: block;
	min-width: 50px;
	height: 25px;
	border-radius: 25px;
	background:  #eee;
	cursor: pointer;
	position: relative;
}
#content nav .switch-mode::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: calc(25px - 4px);
	background: #3C91E6;
	border-radius: 50%;
	transition: all .3s ease;
}
#content nav #switch-mode:checked + .switch-mode::before {
	left: calc(100% - (25px - 4px) - 2px);
}
/* NAVBAR */





/* MAIN */
#content{
  margin-top: 1rem;
}
#content main {
	width: 100%;
	padding: 10px 24px;
	font-family:'Poppins', sans-serif;
	max-height: calc(100vh - 56px);
	/* overflow-y: auto; */
}
#content main .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}
#content main .head-title .left h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: #342E37;
}
#content main .head-title .left .breadcrumb {
	display: flex;
	align-items: center;
	grid-gap: 16px;
}
#content main .head-title .left .breadcrumb li {
	color: #342E37;
}
#content main .head-title .left .breadcrumb li a {
	color:  #AAAAAA;
	pointer-events: none;
}
#content main .head-title .left .breadcrumb li a.active {
	color: #3C91E6;
	pointer-events: unset;
}
#content main .head-title .btn-download {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: #3C91E6;
	color: #F9F9F9;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
}




#content main .box-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 24px;
	margin-top: 36px;
}
#content main .box-info li {
	padding: 24px;
	background: #F9F9F9;
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
}
#content main .box-info li .bx {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content main .box-info li:nth-child(1) .bx {
	background: #CFE8FF;
	color: #3C91E6;
}
#content main .box-info li:nth-child(2) .bx {
	background: #FFF2C6;
	color: #FFCE26;
}
#content main .box-info li:nth-child(3) .bx {
	background: #FD7238;
	color: #FD7238;
}
#content main .box-info li .text h3 {
	font-size: 24px;
	font-weight: 600;
	color: #342E37;
}
#content main .box-info li .text p {
	color: #342E37;	
}





#content main .table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: #342E37;
}
#content main .table-data > div {
	border-radius: 20px;
	background: #F9F9F9;
	padding: 24px;
	overflow-x: auto;
}
#content main .table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}
#content main .table-data .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
}
#content main .table-data .head .bx {
	cursor: pointer;
}

#content main .table-data .order {
	flex-grow: 1;
	flex-basis: 500px;
}
#content main .table-data .order table {
	width: 100%;
	border-collapse: collapse;
}
#content main .table-data .order table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: left;
	border-bottom: 1px solid  #eee;
}
#content main .table-data .order table td {
	padding: 16px 0;
}


#content main .table-data .order table tbody tr:hover {
	background:  #eee;
}

#content main .table-data .order table th p{
	text-align: center;
}
#content main .table-data .order table tr td:last-child{
	display: flex;
    justify-content: center;
}

#content main .table-data .order table tr td:last-child button{
	border: none;
    width: 5rem;
    height: 1.5rem;
    background: #2e4ead;
    color: #fff;
    border-radius: 15px;
	cursor: pointer;
	transition-duration: 0.4s;
}

#content main .table-data .order table tr td:last-child button:hover{
    height: 1.5rem;
    background: #fff;
    color: #2e4ead;
}

#content main .table-data .order table tr td p{
	text-align: center;
}

#content main .table-data .order table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color: #F9F9F9;
	border-radius: 20px;
	font-weight: 700;
}
#content main .table-data .order table tr td .status.completed {
	background: #2e4ead;
}
#content main .table-data .order table tr td .status.process {
	background: #FFCE26;
}
#content main .table-data .order table tr td .status.pending {
	background: #FD7238;
}


#content main .table-data .todo {
	flex-grow: 1;
	flex-basis: 300px;
}
#content main .table-data .todo .todo-list {
	width: 100%;
}
#content main .table-data .todo .todo-list li {
	width: 100%;
	margin-bottom: 16px;
	background:  #eee;
	border-radius: 10px;
	padding: 14px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#content main .table-data .todo .todo-list li .bx {
	cursor: pointer;
}
#content main .table-data .todo .todo-list li.completed {
	border-left: 10px solid #3C91E6;
}
#content main .table-data .todo .todo-list li.not-completed {
	border-left: 10px solid #FD7238;
}
#content main .table-data .todo .todo-list li:last-child {
	margin-bottom: 0;
}
/* MAIN */
/* CONTENT */

/* Start: TOAST */
/* Toast styles */
.toast {
    visibility: hidden; 
    min-width: 250px;
    margin-left: -120px;
    background-color: #fff;
    color: #333;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    right: 8px;
    top: 4rem;
    font-size: 15px;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
}

.toast #toastMessage{
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}


.toast #toastMessage i{
	border: 1px solid #fff;
    width: 2.5rem;
    height: 2.5rem;
    align-content: center;
    border-radius: 50%;
	background: #2648ae;
    color: #fff;
	margin-right: 0.5rem;
}




.toast.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}



/* End: TOAST */