@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #e1ecf2;
}

.wrapper .top_navbar {
    width: calc(100% - 20px);
    height: 60px;
    display: flex;
    position: fixed;
    top: 0;
    right: 10px !important;
    z-index: 10000;
}

.top-navbar{
    z-index: 100000000000;

}

.wrapper .top_navbar .hamburger {
    width: 70px;
    height: 100%;
    background: #2e4ead;
    padding: 15px 17px;
    border-top-left-radius: 20px;
    cursor: pointer;
}

.wrapper .top_navbar .hamburger div {
    width: 35px;
    height: 4px;
    background: #92a6e2;
    margin: 5px 0;
    border-radius: 5px;
}

.wrapper .top_navbar .top_menu {
    width: calc(100% - 70px);
    height: 100%;
    background: #fff;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.wrapper .top_navbar .top_menu .logo {
    color: #2e4ead;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
}

/* Start Search */
.search {
    display: flex;
    border: 1px solid #ccc;
    width: 50%;
    height: 45px;
    background: #fff;
    border-radius: 3rem;
    align-items: center;
    padding: .3rem;
}

.search i {
    color: rgba(0, 0, 0, .5);
    margin: 0 .6rem;
}

.search input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-weight: 400;
}

.search button {
    height: 100%;
    padding: 0 1rem;
    border-radius: inherit;
    background: #2e4ead;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
}

.search button:hover {
    background: #fff;
    color: #2648ae;
    border: 1px solid #2e4ead;
}

/* End Search */
/* Start drop down */
.item-drop-down{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.profile-dropdown {
    position: relative;
    width: fit-content;
}

.profile-dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    width: 150px;
    border-radius: 50px;
    color: #393e46;
    cursor: pointer;
    border: 1px solid #2648ae;
    transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in,
    border 0.3s;
}

.profile-dropdown-btn:hover {
    background-color: rgb(127, 183, 126, 0.1);
    box-shadow: 0 2px 8px 0 rgba(40, 60, 147, 0.2);
}

.profile-img {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 0.2rem;
    border-radius: 50%;
    /*background: url(../images/profile-pic.jpg);*/
    background-size: cover;
}

.profile-img i {
    position: absolute;
    right: 0;
    bottom: 0.3rem;
    font-size: 0.5rem;
    color: #82cd47;
}

.profile-dropdown-btn span {
    margin: 0 0.5rem;
    margin-right: 0;
}

.profile-dropdown-list {
    position: absolute;
    top: 68px;
    width: 220px;
    right: 0;
    background-color: #fff;
    border-radius: 10px;
    max-height: 0;
    overflow: hidden;
    box-shadow: 0 2px 8px 0 rgb(34, 124, 112, 0.2);

}

.profile-dropdown-list hr {
    border: 0.5px solid #2648ae;
}

.profile-dropdown-list.active {
    max-height: 500px;
}

.profile-dropdown-list-item {
    padding: 0.5rem 0 0.5rem 1rem;
    transition: background-color 0.2s ease-in, padding-left 0.2s;
}

.profile-dropdown-list-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: #2648ae;
}

.profile-dropdown-list-item a i {
    font-size: 1.1rem;
    width: 2.3rem;
    height: 2.3rem;
    background-color: #2648ae;
    color: #fff;
    line-height: 2.3rem;
    text-align: center;
    margin-right: 1rem;
    border-radius: 50%;
    transition: margin-right 0.3s;
}

.profile-dropdown-list-item:hover {
    padding-left: 1.5rem;
    background-color: rgba(40, 60, 147, 0.2);
}

/* End drop down */



.wrapper .sidebar {
    position: fixed;
    top: 70px;
    left: 10px;
    background: #2e4ead;
    width: 220px;
    height: calc(100% - 80px);
    border-bottom-left-radius: 20px;
    transition: all 0.3s ease;
}

.wrapper .sidebar ul li .search {
    display: none;
}

.wrapper .sidebar ul li a {
    display: block;
    padding: 20px;
    position: relative;
    margin-bottom: 1px;
    color: #92a6e2;
    white-space: nowrap;
}

.wrapper .sidebar ul li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: #92a6e2;
    display: none;
}

.wrapper .sidebar ul li a span.icon {
    margin-right: 10px;
    display: inline-block;
}

.wrapper .sidebar ul li a span.title {
    display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
    background: #4360b5;
    color: #fff;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
    display: block;
}

.wrapper .main_container {
    width: calc(100% - 250px);
    margin-top: 50px;
    margin-left: 250px;
    padding: 15px;
    transition: all 0.3s ease;
}

.wrapper .main_container .item {
    background: #fff;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 14px;
    line-height: 22px;
}

.wrapper.collapse .sidebar {
    width: 70px;
}

.wrapper.collapse .sidebar ul li a {
    text-align: center;
}

.wrapper.collapse .sidebar ul li a span.icon {
    margin: 0;
}

.wrapper.collapse .sidebar ul li a span.title {
    display: none;
}

.wrapper.collapse .main_container {
    width: calc(100% - 70px);
    margin-left: 70px;
}

/*Start: Bell notification*/
.notification {
    position: relative;
    display: inline-block;
}

.system-notification {
    display: none;
}

.content-notification{

}

/* Dropdown menu styling */
.notification .content-notification {
    display: none; /*Hidden by default */
    max-height: 50vh;
    padding: 10px;
    position: absolute;
    background-color: white;
    min-width: 32vw;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0; /* Align to the right of the bell */
    border-radius: 1rem;
    top: 1.8rem;
    padding: 10px;
    overflow-y: auto;

}

.bell-decor{
    width: 1.8rem;
    height: 1.8rem;
}

.notification-item{
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
}

.text-container{
    display: flex;
    flex-direction: column;
}

.text-container .notification-time{
    font-size: 12px;
    color: #2548a0;
}


.content-notification .notification-item{
    padding: 10px 0px;
    display: flex;
    justify-content: left;
    gap: 1rem;
}

.content-notification .more-button{
    cursor: pointer;
    display: block;
}

.notification-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    display: none; /* Hidden by default */
}

.more-button{
    color: #333;
    /*text-decoration: underline;*/
    text-align: center;
    border-bottom: none !important;
    margin-top: 0.8rem;

}

.more-button span{
    padding: 0.4rem;
    font-size: 0.9rem;
    background: #ccc;
    border-radius: 1rem;
    display: block;
}
.more-button span:hover{
    background: #b9b9b9;
}


/* Start: MODAL */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 85%;
    max-width: 600px;
    border-radius: 10px;
    position: relative;
}

.modal-content h2 {
    margin-bottom: 1rem;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*End: MODAL    */


/* Chat box start */
.chatbox-wrapper {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
    z-index: 1000;
}
.chatbox-toggle {
    width: 100%;
    height: 100%;
    background: #2648ae;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
}
.chatbox-toggle:active {
    transform: scale(.9);
}
.chatbox-message-wrapper {
    position: absolute;
    bottom: calc(100% + 1rem);
    right: 0;
    width: 420px;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, .1);
    transform: scale(0);
    transform-origin: bottom right;
    transition: .2s;
}
.chatbox-message-wrapper.show {
    transform: scale(1);
}
.chatbox-message-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: .75rem 1.5rem;
}
.chatbox-message-profile {
    display: flex;
    align-items: center;
    grid-gap: .5rem;
}
.chatbox-message-image {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
}
.chatbox-message-name {
    font-size: 1.125rem;
    font-weight: 600;
}
.chatbox-message-status {
    font-size: .875rem;
    color: #888;
}
.chatbox-message-dropdown {
    position: relative;
}

.chatbox-message-dropdown i {
    display: flex;
}

.chatbox-message-dropdown-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.25rem;
    cursor: pointer;
    border-radius: 50%;
}
.chatbox-message-dropdown-toggle:hover {
    background: #F5F5F5;
}
.chatbox-message-dropdown-menu {
    list-style: none;
    margin: 0;
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    padding: .5rem 0;
    width: 120px;
    box-shadow: .25rem .25rem 1.5rem rgba(0, 0, 0, .1);
    transform: scale(0);
    transform-origin: top right;
    transition: .2s;
    border-radius: .5rem;
}
.chatbox-message-dropdown-menu.show {
    transform: scale(1);

}
.chatbox-message-dropdown-menu a {
    font-size: .875rem;
    font-weight: 500;
    color: #222;
    text-decoration: none;
    padding: .5rem 1rem;
    display: block;
}
.chatbox-message-dropdown-menu a:hover {
    background: #F5F5F5;
}
.chatbox-message-content {
    background: #F5F5F5;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    grid-row-gap: 1rem;
    max-height: 300px;
    overflow-y: auto;
}
.chatbox-message-item {
    width: 90%;
    padding: 1rem;
}
.chatbox-message-item.sent {
    align-self: flex-end;
    background: #2648ae;
    color: white;
    border-radius: .75rem 0 .75rem .75rem;
}
.chatbox-message-item.received {
    background: white;
    border-radius: 0 .75rem .75rem .75rem;
    box-shadow: .25rem .25rem 1.5rem rgba(0, 0, 0, .05);
}
.chatbox-message-item-time {
    float: right;
    font-size: .75rem;
    margin-top: .5rem;
    display: inline-block;
}
.chatbox-message-bottom {
    background: white;
    padding: .75rem 1.5rem;
}
.chatbox-message-form {
    display: flex;
    align-items: center;
    background: #F5F5F5;
    border-radius: .5rem;
    padding: .5rem 1.25rem;
    justify-content: space-between;
}
.chatbox-message-input {
    background: transparent;
    outline: none;
    border: none;
    resize: none;
    scrollbar-width: none;
}
.chatbox-message-input::-webkit-scrollbar {
    display: none;
}
.chatbox-message-submit {
    font-size: 1.25rem;
    color: #2648ae;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.chatbox-message-no-message {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}


/* BREAKPOINTS */
@media screen and (max-width: 576px) {
    .chatbox-message-wrapper {
        width: calc(100vw - 2rem);
    }
    .chatbox-wrapper {
        bottom: 1rem;
        right: 1rem;
    }
}
/* BREAKPOINTS */
/* Chat box end */


#userId{
    display: none;
}

.search {
    display: flex;
    border: 1px solid #ccc;
    width: 50%;
    height: 45px;
    background: #fff;
    border-radius: 3rem;
    align-items: center;
    padding: .3rem;
    position: relative;
}

.search i {
    color: rgba(0, 0, 0, .5);
    margin: 0 .6rem;
}

.search input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-weight: 400;
}

.search button {
    height: 100%;
    padding: 0 1rem;
    border-radius: inherit;
    background: #2e4ead;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
}

.search button:hover {
    background: #fff;
    color: #2648ae;
    border: 1px solid #2648ae;
}

/* Search results dropdown */
.search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 3rem;
    max-height: 200px;
    overflow-y: auto;
    display: none; /* Ẩn kết quả tìm kiếm mặc định */
}

.search-results div {
    padding: 10px 20px;
    cursor: pointer;
}

.search-results div:hover {
    background: #f1f1f1;
}
#search-results {
    display: none; /* Ẩn khi không có kết quả hoặc chưa tìm kiếm */
    position: absolute;
    background: white;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 1000;
}

.search-item {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #ccc;
}

.search-item:hover {
    background-color: #f0f0f0;
}

.search-item:last-child {
    border-bottom: none;
}

.page-button{
    background: none;
}