@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
:root {
    --primary: #2e4ead;
    --white: #ffffff;
    --black: #000;
    --bg: #f5f5f5;
}
::-webkit-scrollbar {
    width: 1.3rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #797979;
    transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: #222224;
}

::-webkit-scrollbar-track {
    background: #f9f9f9;
}

.text-center {
    text-align: center;
}

.container_swiper {
    max-width: 124rem;
    padding: 0 1rem;
    margin: 0 auto;
}

.wrapper .top_navbar{
    width: 102vw !important;
}

.wrapper .main_container{
    width: 100% !important;
    margin-left: 0 !important;
}

body {
    background: #e1ecf2;
}

.wrapper {
    margin: 10px;
}

.wrapper .top_navbar {
    width: calc(100% - 20px);
    height: 60px;
    display: flex;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 10px;
    z-index: 10;
}

.wrapper .top_navbar .top-menu {
    padding: 15px 17px;
;
}

.wrapper .top_navbar .top_menu {
    width: 100%;
    border-top-left-radius: 20px;
    height: 100%;
    background: #fff;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.wrapper .top_navbar .top_menu .logo {
    color: #2648ae;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
}

.wrapper .top_navbar .top_menu ul {
    display: flex;
}

.wrapper .top_navbar .top_menu ul li .search {
    display: block;
    margin: 0 10px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #2648ae;
    border-radius: 50%;
    color: #2648ae;
}

.wrapper .top_navbar .top_menu ul li .btn {
    display: block;
    margin: 0 10px;
    width: 100px;
    height: 35px;
    line-height: 32px;
    text-align: center;
    border: 1px solid #2648ae;
    border-radius: 10px;
    color: #2648ae;
}

.wrapper .top_navbar .top_menu ul li a:hover {
    background: #2648ae;
    color: #fff;
}

.wrapper .top_navbar .top_menu ul li a:hover i {
    color: #fff;
}

.wrapper .top_navbar .top_menu ul li .btn-sign-up {
    background: #2648ae;
    color: #fff;
}

.wrapper .top_navbar .top_menu ul li .btn-sign-up:hover {
    background: #fff;
    color: #2648ae;
}


.wrapper .main_container {
    width: 100%;
    margin-top: 70px;
    padding: 15px;
    transition: all 0.3s ease;
}

.wrapper .main_container .item {
    background: #fff;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 14px;
    line-height: 22px;
}

.wrapper.collapse .main_container {
    width: calc(100% - 70px);
    margin-left: 70px;
}

/* Content section start here */
.main_container .content {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), #2e4ead;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main_container .content .guest-intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
}

.main_container .content .guest-intro .image img{
    width: 40vw;
}

.content h5 {
    text-transform: uppercase;
    color: #fff;
    font-size: .9rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.content h3 {
    text-transform: uppercase;
    color: #fff;
    font-size: .9rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.search {
    width: 50%;
    display: flex;
    align-items: center;
}

#searchType{
    border-radius: 1rem;
    font-size: 1rem;
    height: 45px;
    padding-left: 1rem;
}

.search .search-content{
    display: flex;
    border-radius: 1rem;
    border: 1px solid;
    height: 45px;
    width: 65%;
    background: #fff;
    align-items: center;
    padding: .3rem;
    margin-left: 1rem;
}

.search i {
    color: rgba(0, 0, 0, .5);
    margin: 0 .6rem;
}

.search input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-weight: 400;
}

.search button {
    height: 100%;
    padding: 0 1rem;
    border-radius: inherit;
    background: #2648ae;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
}

.content .search button:hover {
    background: #2648ae;
}

.content h1 {
    font-size: 4rem;
    max-width: 80%;
    color: #fff;
    text-align: center;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.content p {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    max-width: 80%;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 2rem;
}

/* travel section starts here  */
/* travel section starts here  */

.travel .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    padding:  5rem 0;
}

.travel .container .box {
    padding: 0 1rem;
    text-align: center;
    max-width: 30rem;
    /* transform: translate(0, 100px); */
    /* opacity: 0; */
}

.travel .container .box img {
    height: 10rem;
}

.travel .container .box h4 {
    font-size: 1.2rem;
    margin: 1rem 0;
    margin-top: 2rem;
    font-weight: 600;
}

.travel .container .box p {
    color: #666;
    max-width: 100%;
}

/* travel section ends here  */
/* travel section ends here  */
destination section starts here
.destinations {
    width: 100%;
    padding: 4rem 3rem;
}

.destinations .container {
    width: 100%;
}

.destinations .container .container-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.destinations .container .container-box .heading {
    max-width: 30rem;
}

.destinations .container .container-box .content {
    max-width: 35rem;
}

.destinations .container .container-box .content p {
    line-height: 1.7;
    color: #666;
    margin-bottom: 1rem;
}

.destinations .container .container-box .content a {
    color: #2648ae;
    font-weight: 600;
}

.destinations .container .container-box .content a i {
    margin-left: .5rem;
}

.destinations .container .container-box .content a:hover i {
    margin-left: .1rem;
}

/* Content section ends here */

/* footer section starts here  */

footer {
    padding: 1.5rem;
    width: 100%;
}

footer .footer {
    background: #2648ae;
    border-radius: .7rem;
    padding: 4.5rem 7rem;
    padding-bottom: 2rem;
}

footer .footer .container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(46 78 173/ 0.5);
    gap: 2rem;
}

footer .footer .container .detail {
    max-width: 32rem;
}

footer .footer .container .detail h3 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: #fff;
}

footer .footer .container .detail p {
    line-height: 1.6;
    color: rgb(255 255 255/80%);
    margin-bottom: 1.5rem;
}

footer .footer .container .detail h5 {
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}

footer .footer .container .detail a {
    color: rgb(255 255 255/80%);
    font-size: .9rem;
    border-bottom: 2px solid #00cee4;
    padding: 1px 0;
    display: inline-block;
}

footer .footer .container .detail .social {
    display: flex;
    gap: .8rem;
    margin-top: 1rem;
}

footer .footer .container .detail .social a {
    border: none;
    font-size: 1.3rem;
    color: #fff;
}

footer .footer .container h4 {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: .5rem;
    color: #fff;
}

footer .footer .container li {
    list-style: none;
    margin-top: 1rem;
}

footer .footer .container a {
    color: rgb(255 255 255/80%);
}

footer .footer .container a:hover {
    color: #fff;
}

footer .footer .container span {
    color: #000;
    background: #00cee4;
    font-size: .9rem;
    padding: .1rem .5rem;
    border-radius: .3rem;
    font-weight: 500;
}

footer .footer .copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: .9rem;
    color: rgb(255 255 255/80%);
    text-align: center;
}

footer .footer .copyright a {
    color: rgb(255 255 255/80%);
    margin-left: 1rem;
    text-align: center;
}

/* footer section ends here  */

/*Swiper: start*/
.section-heading {
    font-size: 3rem;
    color: var(--primary);
    padding: 2rem 0;
}




#tranding .tranding-slider {
    height: 40rem;
    padding: 2rem 0;
    position: relative;
}

@media (max-width:500px) {
    #tranding .tranding-slider {
        height: 45rem;
    }
}

.tranding-slide {
    width: 37rem;
    height: 42rem;
    position: relative;
}

@media (max-width:500px) {
    .tranding-slide {
        width: 28rem !important;
        height: 36rem !important;
    }
    .tranding-slide .tranding-slide-img img {
        width: 28rem !important;
        height: 36rem !important;
    }
}

.tranding-slide .tranding-slide-img img {
    width: 23rem;
    height: 20rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    object-fit: cover;
}

.swiper-slide .tranding-slide {
    height: 30rem;
}

.tranding-slide .tranding-slide-content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.tranding-slide-content .center-desc {
    position: absolute;
    top: 3.7rem;
    right: 3.5rem;
    color: var(--black);
    width: 25rem;

}

.tranding-slide-content .center-desc li{
    margin: 0.6rem 0;
    font-size: 1.2rem;
}

.swiper-pagination-fraction{
    bottom: -6px !important;
}

.tranding-slide-content .center-title{
    color: var(--black);
    position: absolute;
    top: 1rem;
    right: 10.5rem;
    font-size: 1.8em;
}



.swiper-slide .tranding-slide-content{
    width: 54rem;
    border: 1px solid;
    height: 20rem;
    position: absolute;
    top: 0;
    left: 22%;
    border-radius: 2rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background: #fff;
}

.tranding-slide-content .tranding-slide-content-bottom {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    color: var(--white);
}

.food-rating {
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
}

.rating ion-icon {
    color: var(--primary);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none;
}

.tranding-slider-control {
    position: relative;
    bottom: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tranding-slider-control .swiper-button-next {
    left: 58% !important;
    transform: translateX(-58%) !important;
}

.swiper-button-prev{
    margin-left: -20px;
}

.swiper-button-next{
    margin-left: 20px;
}

@media (max-width:990px) {
    .tranding-slider-control .swiper-button-next {
        left: 70% !important;
        transform: translateX(-70%) !important;
    }
}

@media (max-width:450px) {
    .tranding-slider-control .swiper-button-next {
        left: 80% !important;
        transform: translateX(-80%) !important;
    }
}

@media (max-width:990px) {
    .tranding-slider-control .swiper-button-prev {
        left: 30% !important;
        transform: translateX(-30%) !important;
    }
}

@media (max-width:450px) {
    .tranding-slider-control .swiper-button-prev {
        left: 20% !important;
        transform: translateX(-20%) !important;
    }
}

.tranding-slider-control .slider-arrow {
    background: var(--white);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    left: 42%;
    transform: translateX(-42%);
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
    font-size: 2rem;
    color: #222224;
}

.tranding-slider-control .slider-arrow::after {
    content: '';
}

.tranding-slider-control .swiper-pagination {
    position: relative;
    width: 15rem;
    bottom: 1rem;
    margin-top: 20px;
    width: 15rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
    background: var(--primary);
}

/*Swiper: End*/
/*Button detail start*/
.tranding-slide {
    position: relative;
    overflow: hidden;
}

.detail-button {
    position: absolute;
    bottom: 20px;
    right: -150px;
    padding: 10px 20px;
    background-color: #2e4ead;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.5s ease;
}

.tranding-slide:hover .detail-button {
    right: 20px;
    opacity: 1;
}
/*Button detail end*/

/*Modal start*/
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
}

#modal-content{
    margin-top: 2rem;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.course-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.course-card p {
    margin: 10px 0;
}

.course-card button {
    background-color: #2e4ead;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}
/*Modal end*/

/*Start autocomplete search*/
.autocomplete-suggestions {
    border: 1px solid #ddd;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    z-index: 1000;
    background-color: #fff;
}

.autocomplete-suggestion {
    padding: 10px;
    cursor: pointer;
}

.autocomplete-suggestion:hover {
    background-color: #f0f0f0;
}

/*End autocomplete search*/