@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #e1ecf2;
}

.wrapper .top_navbar {
  width: calc(100% - 20px);
  height: 60px;
  display: flex;
  position: fixed;
  top: 0;
  right: 10px !important;
}

.wrapper .top_navbar .hamburger {
  width: 70px;
  height: 100%;
  background: #2e4ead;
  padding: 15px 17px;
  border-top-left-radius: 20px;
  cursor: pointer;
}

.wrapper .top_navbar .hamburger div {
  width: 35px;
  height: 4px;
  background: #92a6e2;
  margin: 5px 0;
  border-radius: 5px;
}

.wrapper .top_navbar .top_menu {
  width: calc(100% - 70px);
  height: 100%;
  background: #fff;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.wrapper .top_navbar .top_menu .logo {
  color: #2e4ead;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
}

/* Start Search */
.search {
  display: flex;
  border: 1px solid #ccc;
  width: 50%;
  height: 45px;
  background: #fff;
  border-radius: 3rem;
  align-items: center;
  padding: .3rem;
}

.search i {
  color: rgba(0, 0, 0, .5);
  margin: 0 .6rem;
}

.search input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-weight: 400;
}

.search button {
  height: 100%;
  padding: 0 1rem;
  border-radius: inherit;
  background: #2e4ead;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}

.search button:hover {
  background: #fff;
  color: #2648ae;
  border: 1px solid #2648ae;
}


/* End Search */
.item-drop-down{
  display: flex;
  gap: 1rem;
  align-items: center;
}
/* Notification bell styling */
.notification #bell {
  position: relative;
  display: inline-block;
}

.notification #bell i {
  font-size: 1.2rem;
  cursor: pointer;
}

/* Dropdown menu styling */
.notification .content-notification {
   display: none; /*Hidden by default */
   padding: 10px;
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0; /* Align to the right of the bell */
  border-radius: 1rem;
  top: 1.7rem;

}

.notification .content-notification ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notification .content-notification li {
  padding: 8px;

}

.notification .content-notification li a{
  color: #2648ae;
}

.notification .content-notification li:hover{
  background-color: #f1f1f1;
}


/* Start drop down */
.profile-dropdown {
  position: relative;
  width: fit-content;
}

.profile-dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  width: 150px;
  border-radius: 50px;
  color: #393e46;
  /* background-color: white;
box-shadow: var(--shadow); */

  cursor: pointer;
  border: 1px solid #2648ae;
  transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in,
    border 0.3s;
}

.profile-dropdown-btn:hover {
  background-color: rgb(127, 183, 126, 0.1);
  box-shadow: 0 2px 8px 0 rgba(40, 60, 147, 0.2);
}

.profile-img i {
  position: absolute;
  right: 0;
  bottom: 0.3rem;
  font-size: 0.5rem;
  color: #82cd47;
}

.profile-dropdown-btn span {
  margin: 0 0.5rem;
}

.profile-dropdown-list {
  position: absolute;
  top: 68px;
  width: 220px;
  right: 0;
  background-color: #fff;
  border-radius: 10px;
  max-height: 0;
  overflow: hidden;
  box-shadow: 0 2px 8px 0 rgb(34, 124, 112, 0.2);
}

.profile-dropdown-list hr {
  border: 0.5px solid #2648ae;
}

.profile-dropdown-list.active {
  max-height: 500px;
}

.profile-dropdown-list-item {
  padding: 0.5rem 0 0.5rem 1rem;
}

.profile-dropdown-list-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: #2648ae;
}

.profile-dropdown-list-item a i {
  font-size: 1.1rem;
  width: 2.3rem;
  height: 2.3rem;
  background-color: #2648ae;
  color: #fff;
  line-height: 2.3rem;
  text-align: center;
  margin-right: 1rem;
  border-radius: 50%;
}

.profile-dropdown-list-item:hover {
  padding-left: 1.5rem;
  background-color: rgba(40, 60, 147, 0.2);
}

/* End drop down */



.wrapper .sidebar {
  position: fixed;
  top: 70px;
  left: 10px;
  background: #2e4ead;
  width: 210px;
  height: calc(100% - 80px);
  border-bottom-left-radius: 20px;
  transition: all 0.3s ease;
}

.wrapper .sidebar ul li a {
  display: block;
  padding: 20px;
  position: relative;
  margin-bottom: 1px;
  color: #92a6e2;
  white-space: nowrap;
}

.wrapper .sidebar ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: #92a6e2;
  display: none;
}

.wrapper .sidebar ul li a span.icon {
  margin-right: 10px;
  display: inline-block;
}

.wrapper .sidebar ul li a span.title {
  display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
  background: #4360b5;
  color: #fff;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
  display: block;
}

.wrapper .main_container {
  width: calc(100% - 200px);
  margin-top: 70px;
  margin-left: 200px;
  padding: 15px;
  transition: all 0.3s ease;
}

.wrapper .main_container .item {
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}

.wrapper.collapse .sidebar {
  width: 70px;
}

.wrapper.collapse .sidebar ul li a {
  text-align: center;
}

.wrapper.collapse .sidebar ul li a span.icon {
  margin: 0;
}

.wrapper.collapse .sidebar ul li a span.title {
  display: none;
}

.wrapper.collapse .main_container {
  width: calc(100% - 70px);
  margin-left: 70px;
}

/* CONTENT */
#content {
  width: 100%;
  transition: .3s ease;
}

#sidebar.hide~#content {
  width: calc(100% - 60px);
  left: 60px;
}

/*Card*/
.box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap:15px;
}

.box-container .box{
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding:30px 20px;
}

.box-container .box img{
  height: 10rem;
}

.box-container .box h3{
  color:#444;
  font-size: 22px;
  padding:10px 0;
}

.box-container .box p{
  color:#777;
  font-size: 15px;
  line-height: 1.8;
}

.box-container .box .btn{
  margin-top: 10px;
  display: inline-block;
  background:#2e4ead;
  color:#fff;
  font-size: 17px;
  border-radius: 5px;
  padding: 8px 25px;
}

.box-container .box .btn:hover{
  letter-spacing: 1px;
}

.box-container .box:hover{
  box-shadow: 0 10px 15px rgba(0,0,0,.3);
  transform: scale(1.03);
}

/*Card*/
/* NAVBAR */
#content nav {
  height: 56px;
  background: #F9F9F9;
  padding: 0 24px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  font-family: 'Lato', sans-serif;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

#content nav::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 #F9F9F9;
}

#content nav a {
  color: #342E37;
}

#content nav .profile img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}



/* MAIN */
#content {
  margin-top: 1rem;
}

#content main {
  width: 100%;
  padding: 10px 24px;
  font-family: 'Poppins', sans-serif;
  max-height: calc(100vh - 56px);
}

#content main .head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}

#content main .head-title .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #342E37;
}

main .header{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

main .header button{
  display: flex;
  gap: 0.8rem;
  height: 2rem;
  width: 10rem;
  background: #2e4ead;
  color: #FFFFFF;
  border-radius: 1rem;
}



/* MAIN */
/* CONTENT */

/* Start: MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 10000; /* Đảm bảo modal ở trên cùng */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  position: relative;
  z-index: 10001;
}

.modal-content h2 {
  margin-bottom: 1rem;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal label {
  display: block;
  margin-top: 10px;
}

.modal textarea {
  width: 100%;
  height: 80px;
  margin-top: 5px;
}

.modal .submit-btn {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #2648ae;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0.375rem;
}

.modal .submit-btn:hover {
  background-color: #2e4ead;
}
/* End: MODAL */


/* Start notification modal */
#notificationModal .modal-content{
  margin-left: 230px;
}
/* End notification modal */


#no-result{
  display: none;
}

/*Start pagination*/
#paginationControls{
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 1rem;
}

#paginationControls .active{
  text-decoration: underline;
}

#paginationControls button{
  border: none;
  font-size: 18px;
}
/*End paginartion*/

/*Start upload material*/
#box-left-file-drop {
  height: 100%;
  cursor: pointer;
  padding: 1.25rem;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.043);
  border-radius: .375rem;
  border-color: transparent;
  background-color: rgb(255, 255, 255);
}

#box-left-file-drop .flex {
  display: flex;
}

#box-left-file-drop .items-center {
  align-items: center;
}

#box-left-file-drop .mx-auto {
  margin-left: auto;
  margin-right: auto;
}

#box-left-file-drop .text-center {
  text-align: center;
}

#box-left-file-drop .image-fit {
  object-fit: cover;
}

#box-left-file-drop .overflow-hidden {
  overflow: hidden;
}

#box-left-file-drop .upload-box svg {
  width: 4rem;
  height: 4rem;
  fill: rgb(30, 64, 175); /* Use the primary color value */
}

#box-left-file-drop .font-medium {
  font-weight: 500;
}

#box-left-file-drop .text-lg {
  font-size: 1.125rem; /* 18px */
}

#box-left-file-drop .text-slate-500 {
  color: rgba(100, 116, 139); /* Slate color value */
}

#box-left-file-drop .text-xs {
  font-size: 0.75rem; /* 12px */
}

#box-left-file-drop .mt-1 {
  margin-top: 0.25rem; /* 4px */
}

#box-left-file-drop .mt-3 {
  margin-top: 0.75rem; /* 12px */
}

#box-left-file-drop .pt-2 {
  padding-top: 0.5rem; /* 8px */
}

#box-left-file-drop .text-primary {
  color: rgb(30, 64, 175); /* Primary color value */
}

#box-left-file-drop .ng-star-inserted {
  display: inline;
}

#box-left-file-drop a {
  text-decoration: none;
}

#box-left-file-drop a:hover {
  text-decoration: underline;
}

#box-left-file-drop b {
  font-weight: bold;
}

/*End upload material*/

/*Start list of material and list*/
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.item {
  flex: 1 1 calc(33.333% - 1rem);
  box-sizing: border-box;
}

.student-exam-result-up {
  border-radius: 0.375rem;
  background-color: #f1f5f9;
  transition: transform 0.3s ease-in-out;
  min-height: 85px;
  height: 100%;
  position: relative;
  padding: 0.75rem; /* padding equivalent to p-3 */
}

.student-exam-result-up:hover {
  transform: scale(1.05);
}

.image-fit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.image-fit img {
  height: 4rem; /* height equivalent to h-16 */
  width: 4rem; /* width equivalent to w-16 */
}

.azt-student-name {
  display: inline-grid;
}

.font-medium {
  font-weight: 500;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-left {
  text-align: left;
}

.text-black {
  color: #000;
}

.text-slate-500 {
  color: #6B7280;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.info {
  display: flex;
  align-items: center;
  margin-top: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}


/* Upload button */
#upload-btn, .button-item button, #grade-buttons button, #subject-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  width: 100%;
  border: 1px solid #cbd5e1;
  background-color: white;
  color: #000;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}
#upload-btn{
  width: 10rem;
  color: #fff;
  background: #2e4ead;
}

#grade-buttons, #subject-buttons{
  display: flex;
  flex-wrap: wrap;
}
#grade-buttons button{
  width: 6rem;
}

#subject-buttons button{
  width: 7rem;
}




#upload-btn:hover, .button-item button:hover {
  background-color: #f3f4f6;
  color: #2e4ead;
}

.button{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.button-item {

  box-sizing: border-box;
}

.button-item button {
  width: 5.5rem;
}

.btn-info {
  background-color: #3b82f6 !important; /* Info color */
  color: white !important;
}

.mat-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem; /* px-3 py-2 */
  border-radius: 0.375rem; /* rounded-md */
}

.mat-button:hover {
  background-color: #f3f4f6 !important; /* Hover color */
}
/*End list of material and list*/