@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: #dfe9f5;
}
.wrapper{
  width: 90vw;
  padding: 2rem 1rem 1rem 1rem;
  margin: 50px auto;
  background: #fff;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.wrapper div{
  display: flex;
  justify-content: space-between;
}

h1{
  font-size: 2rem;
  color: #07001f;
  margin-bottom: 1.7rem;
}
p{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
form input{
  width: 85%;
  outline: none;
  border: none;
  background: #e1ecf2;
  padding: 12px 14px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.recover{
  text-align: right;
  font-size: 0.8rem;
  margin: 0.2rem 1.7rem 0 0;
}
.recover a{
  text-decoration: none;
  color: #07001f;
}

.recover a:hover{
  text-decoration: none;
  color: #2e4ead;
}
.button{
  font-size: 1.1rem;
  margin-top: 1rem;
  padding: 8px 0;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 85%;
  background: rgb(46, 78, 173);
  color: #fff;
  cursor: pointer;
}
.button:hover{
  background: rgba(46, 78, 173, 0.767);
}
.or{
  font-size: 0.8rem;
  margin-top: 1.5rem;
}

.icons svg:hover{
  cursor: pointer;
}

.not-member{
  font-size: 0.8rem;
  margin-top: 1.4rem;
}
.not-member a{
  color: #2e4ead;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.return{
  margin-top: 1rem;
  margin-left: 2rem;
}

table,
th,
td {
  border: 1px solid #ddd;
  padding: 0.5rem;
}
thead tr th{

  background: #2548a0;
  color: #fff;
}

#registerBtn{
  width: 5rem;
  color: #fff;
  border: none;
  border-radius: 1rem;
  background: #2548a0;
  cursor: pointer;
}