@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #e1ecf2;
}

.wrapper .top_navbar {
  width: calc(100% - 20px);
  height: 60px;
  display: flex;
  position: fixed;
  top: 0;
  right: 10px !important;
}

.wrapper .top_navbar .hamburger {
  width: 70px;
  height: 100%;
  background: #2e4ead;
  padding: 15px 17px;
  border-top-left-radius: 20px;
  cursor: pointer;
}

.wrapper .top_navbar .hamburger div {
  width: 35px;
  height: 4px;
  background: #92a6e2;
  margin: 5px 0;
  border-radius: 5px;
}

.wrapper .top_navbar .top_menu {
  width: calc(100% - 70px);
  height: 100%;
  background: #fff;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.mapping{
  color: #2e4ead;
  font-weight: 700;
}

.wrapper .top_navbar .top_menu .logo {
  color: #2e4ead;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
}

/* Start Search */
.search {
  display: flex;
  border: 1px solid #ccc;
  width: 50%;
  height: 45px;
  background: #fff;
  border-radius: 3rem;
  align-items: center;
  padding: .3rem;
}

.search i {
  color: rgba(0, 0, 0, .5);
  margin: 0 .6rem;
}

.search input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-weight: 400;
}

.search button {
  height: 100%;
  padding: 0 1rem;
  border-radius: inherit;
  background: #2e4ead;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}

.search button:hover {
  background: #fff;
  color: #2648ae;
  border: 1px solid #2648ae;
}


/* End Search */
.item-drop-down{
  display: flex;
  gap: 1rem;
  align-items: center;
}
/* Notification bell styling */
.notification #bell {
  position: relative;
  display: inline-block;
}

.notification #bell i {
  font-size: 1.2rem;
  cursor: pointer;
}



.notification .content-notification ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notification .content-notification li {
  padding: 8px;

}

.notification .content-notification li a{
  color: #2648ae;
}

.notification .content-notification li:hover{
  background-color: #f1f1f1;
}


/* Start drop down */
.profile-dropdown {
  position: relative;
  width: fit-content;
}

.profile-dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  width: 150px;
  border-radius: 50px;
  color: #393e46;
  /* background-color: white;
box-shadow: var(--shadow); */

  cursor: pointer;
  border: 1px solid #2648ae;
  transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in,
    border 0.3s;
}

.profile-dropdown-btn:hover {
  background-color: rgb(127, 183, 126, 0.1);
  box-shadow: 0 2px 8px 0 rgba(40, 60, 147, 0.2);
}

.profile-img i {
  position: absolute;
  right: 0;
  bottom: 0.3rem;
  font-size: 0.5rem;
  color: #82cd47;
}

.profile-dropdown-btn span {
  margin: 0 0.5rem;
}

.profile-dropdown-list {
  position: absolute;
  top: 68px;
  width: 220px;
  right: 0;
  background-color: #fff;
  border-radius: 10px;
  max-height: 0;
  overflow: hidden;
  box-shadow: 0 2px 8px 0 rgb(34, 124, 112, 0.2);
}

.profile-dropdown-list hr {
  border: 0.5px solid #2648ae;
}

.profile-dropdown-list.active {
  max-height: 500px;
}

.profile-dropdown-list-item {
  padding: 0.5rem 0 0.5rem 1rem;
}

.profile-dropdown-list-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: #2648ae;
}

.profile-dropdown-list-item a i {
  font-size: 1.1rem;
  width: 2.3rem;
  height: 2.3rem;
  background-color: #2648ae;
  color: #fff;
  line-height: 2.3rem;
  text-align: center;
  margin-right: 1rem;
  border-radius: 50%;
}

.profile-dropdown-list-item:hover {
  padding-left: 1.5rem;
  background-color: rgba(40, 60, 147, 0.2);
}

/* End drop down */



.wrapper .sidebar {
  position: fixed;
  top: 70px;
  left: 10px;
  background: #2e4ead;
  width: 210px;
  height: calc(100% - 80px);
  border-bottom-left-radius: 20px;
  transition: all 0.3s ease;
}

.wrapper .sidebar ul li a {
  display: block;
  padding: 20px;
  position: relative;
  margin-bottom: 1px;
  color: #92a6e2;
  white-space: nowrap;
}

.wrapper .sidebar ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: #92a6e2;
  display: none;
}

.wrapper .sidebar ul li a span.icon {
  margin-right: 10px;
  display: inline-block;
}

.wrapper .sidebar ul li a span.title {
  display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
  background: #4360b5;
  color: #fff;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
  display: block;
}

.wrapper .main_container {
  width: calc(100% - 200px);
  margin-top: 70px;
  margin-left: 200px;
  padding: 15px;
  transition: all 0.3s ease;
}

.wrapper .main_container .item {
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}

.wrapper.collapse .sidebar {
  width: 70px;
}

.wrapper.collapse .sidebar ul li a {
  text-align: center;
}

.wrapper.collapse .sidebar ul li a span.icon {
  margin: 0;
}

.wrapper.collapse .sidebar ul li a span.title {
  display: none;
}

.wrapper.collapse .main_container {
  width: calc(100% - 70px);
  margin-left: 70px;
}

/* CONTENT */
#content {
  width: 100%;
  transition: .3s ease;
}

#sidebar.hide~#content {
  width: calc(100% - 60px);
  left: 60px;
}

/*Card*/
.box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap:15px;
}

.box-container .box{
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding:30px 20px;
}

.box-container .box img{
  height: 10rem;
}

.box-container .box h3{
  color:#444;
  font-size: 22px;
  padding:10px 0;
}

.box-container .box p{
  color:#777;
  font-size: 15px;
  line-height: 1.8;
}

.box-container .box .btn{
  margin-top: 10px;
  display: inline-block;
  background:#2e4ead;
  color:#fff;
  font-size: 17px;
  border-radius: 5px;
  padding: 8px 25px;
}

.box-container .box .btn:hover{
  letter-spacing: 1px;
}

.box-container .box:hover{
  box-shadow: 0 10px 15px rgba(0,0,0,.3);
  transform: scale(1.03);
}

/*Card*/
/* NAVBAR */
#content nav {
  height: 56px;
  background: #F9F9F9;
  padding: 0 24px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  font-family: 'Lato', sans-serif;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

#content nav::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 #F9F9F9;
}

#content nav a {
  color: #342E37;
}

#content nav .profile img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}



/* MAIN */
#content {
  margin-top: 1rem;
}

#content main {
  width: 100%;
  padding: 10px 24px;
  font-family: 'Poppins', sans-serif;
  max-height: calc(100vh - 56px);
}

#content main .head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}

#content main .head-title .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #342E37;
}

main .header{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}



/* MAIN */
/* CONTENT */

/* Start: MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 10000; /* Đảm bảo modal ở trên cùng */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  position: relative;
  z-index: 10001;
}

.modal-content h2 {
  margin-bottom: 1rem;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal label {
  display: block;
  margin-top: 10px;
}

.modal textarea {
  width: 100%;
  height: 80px;
  margin-top: 5px;
}

.modal .submit-btn {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #2648ae;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0.375rem;
}

.modal .submit-btn:hover {
  background-color: #2e4ead;
}
/* End: MODAL */


/* Start notification modal */
#notificationModal .modal-content{
  margin-left: 230px;
}
/* End notification modal */


#no-result{
  display: none;
}

/*Start pagination*/
#paginationControls{
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 1rem;
}

#paginationControls .active{
  text-decoration: underline;
}

#paginationControls button{
  border: none;
  font-size: 18px;
}
/*End paginartion*/

