
/* CONTENT */
#content {
  width: 100%;
  transition: .3s ease;
}

#sidebar.hide~#content {
  width: calc(100% - 60px);
  left: 60px;
}

/* NAVBAR */
#content nav {
  height: 56px;
  background: #F9F9F9;
  padding: 0 24px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  font-family: 'Lato', sans-serif;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

#content nav::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 #F9F9F9;
}

#content nav a {
  color: #342E37;
}

#content nav .profile img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}



/* MAIN */
#content {
  margin-top: 1rem;
}

#content main {
  width: 100%;
  padding: 10px 24px;
  font-family: 'Poppins', sans-serif;
  max-height: calc(100vh - 56px);
}

#content main .head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}

#content main .head-title .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #342E37;
}

#content main .head-title .left div {
  width: 75vw;
  display: flex;
  justify-content: space-between;
}

#content main .head-title .left a {
  cursor: pointer;
}

#content main .head-title .left div #feedback-btn {
  width: 11rem;
  height: 2rem;
  font-size: 1rem;
  border-radius: 1rem;
  border: none;
  color: #fff;
  background-color: #2648ae;
  cursor: pointer;
}

#content main .head-title .left div #feedback-btn:hover {
  color: #2648ae;
  background-color: #fff;
  border: 1px solid #2648ae;
}

/* Start form feedback teacher */
#feedback .content {
  margin-top: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

}

#feedback .content h2 {
  margin-bottom: 1rem;
}

#feedback .content .form-group {
  margin: 1rem auto;
}

#feedback .content .form-group > label{
  font-weight: bold;
}

#feedback .content .form-group .rating-group {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

#feedback .content textarea {
  width: 100%;
  height: 7rem;
}

#feedback .content button{
  width: 8rem;
  height: 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 1rem;
  color: #fff;
  background-color: #2648ae;
  cursor: pointer;
}

#feedback .content button:hover{
  color: #2648ae;
  background-color: #fff;
  border: 1px solid #2648ae;
}

/* End form feedback teacher */


/* MAIN */
/* CONTENT */


/* Start toast teacher feedback */
.toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #4caf50; /* Màu xanh lá */
  color: #ffffff; /* Màu chữ trắng */
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  right: 20px; /* Điều chỉnh vị trí toast ở phía bên phải */
  top: 20px; /* Điều chỉnh vị trí toast ở phía trên */
  font-size: 17px;
}

.toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.toast i {
  margin-right: 0.5rem;
}

@-webkit-keyframes fadein {
  from { top: 0; opacity: 0; }
  to { top: 20px; opacity: 1; }
}

@keyframes fadein {
  from { top: 0; opacity: 0; }
  to { top: 20px; opacity: 1; }
}

@-webkit-keyframes fadeout {
  from { top: 20px; opacity: 1; }
  to { top: 0; opacity: 0; }
}

@keyframes fadeout {
  from { top: 20px; opacity: 1; }
  to { top: 0; opacity: 0; }
}

.success {
  background-color: #4caf50; /* Màu xanh lá */
  color: #ffffff; /* Màu chữ trắng */
}

/* End modal teacher feedback */