@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #e1ecf2;
}

.wrapper .main_container {
    margin: 50px 20px auto 20px;
    padding: 15px;
    background: #fff;
    border-radius: 1rem;
}

.wrapper .main_container .item {
    background: #fff;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 14px;
    line-height: 22px;
}

.wrapper.collapse .sidebar {
    width: 70px;
}

.wrapper.collapse .sidebar ul li a {
    text-align: center;
}

.wrapper.collapse .sidebar ul li a span.icon {
    margin: 0;
}

.wrapper.collapse .sidebar ul li a span.title {
    display: none;
}

.wrapper.collapse .main_container {
    width: 100%;
    margin-left: 70px;
}

.wrapper .main_container h4 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 1rem;

}
.wrapper .main_container a{
    cursor: pointer;
    display: block;
    text-align: right;
}

.wrapper .main_container .avatar {
    display: flex;
    justify-content: start;
}


.wrapper .main_container .avatar-image  {
    width: 35%;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}

.avatar-desc {
    font-size: 0.7rem;
    color: #6d6d6f;
    margin-top: 0.5rem;

}


.profile-info label {
    display: inline-block;
    width: 20%;
}

.profile-info .profile-input input {
    width: 79%;
    height: 2.5rem;
    border-radius: 10px;
    border: 0.5px solid #ccc;
    padding-left: 0.5rem;
    font-size: 0.9rem;
    color: #6d6d6f;
}

.profile-input {
    margin-bottom: 0.5rem;
}

.profile-submit {
    display: flex;
    justify-content: end;

}

.profile-btn {
    border-radius: 10px;
    border: none;

}

.profile-btn-submit {
    background: #2e4ead;
    color: #fff;
    margin-top: 1rem;
    height: 2.5rem;
    font-size: 1rem;
    width: 7rem;
    cursor: pointer;
}

.profile-btn-submit:hover{

}
