<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="adminhead">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" th:href="@{/css/adminFragments.css}" />
        <script th:src="@{/js/adminFragments.js}" type="module"></script>
        <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </th:block>
</head>
<body>

<div th:fragment="adminheader">
    <div class="top_navbar">
        <div class="hamburger">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>
        <div class="top_menu">
            <div
                    onclick=""
                    class="logo"
            >
                Wall-E
            </div>

            <!-- Start Modal notification details -->
            <div id="notificationModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Tiêu đề thông báo</h2>
                    <p id="notificationDetails">Nội dung thông báo</p>
                </div>
            </div>
            <!-- End Modal notification details -->

            <div class="item-drop-down">

                <div class="profile-dropdown">
                    <div class="profile-dropdown-btn">
                        <div class="profile-img">
                            <i class="fas fa-circle"></i>
                        </div>

                        <span
                        >Admin
                  <i class="fas fa-angle-down"></i>
                </span>
                    </div>

                    <ul class="profile-dropdown-list">
<!--                        <li class="profile-dropdown-list-item">-->
<!--                            <a href="profile-admin">-->
<!--                                <i class="fas fa-user"></i>-->
<!--                                Thông tin cá nhân-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="profile-dropdown-list-item">-->
<!--                            <a href="change-password">-->
<!--                                <i class="fas fa-lock"></i>-->
<!--                                Đổi mật khẩu-->
<!--                            </a>-->
<!--                        </li>-->

<!--                        <hr />-->

                        <li class="profile-dropdown-list-item">
                            <a href="logout">
                                <i class="fas fa-sign-out-alt"></i>
                                Đăng xuất
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar">
        <ul>
<!--            <li>-->
<!--                <form action="" class="search">-->
<!--                    <i class="fa fa-search"></i>-->
<!--                    <input-->
<!--                            type="text"-->
<!--                            required-->
<!--                            placeholder="Tìm kiếm thông báo tài khoản"-->
<!--                    />-->
<!--                    <button onclick="" type="submit">Tìm</button>-->
<!--                </form>-->
<!--            </li>-->
            <li>
                <a href="admin">
                    <span class="icon"><i class="fas fa-home"></i></span>
                    <span class="title">Trang chủ</span></a
                >
            </li>

            <li>
                <a href="accountManagement">
                    <span class="icon"><i class="fas fa-clipboard-list"></i></span>
                    <span class="title">Quản lý người dùng</span>
                </a>
            </li>

            <li>
                <a href="approveManagement">
                    <span class="icon"><i class="fas fa-newspaper"></i></span>
                    <span class="title">Quản lý bài đăng</span>
                </a>
            </li>
            <li>
                <a href="centerManagement">
                    <span class="icon"><i class="fas fa-building"></i></span>
                    <span class="title">Quản lý trung tâm</span>
                </a>
            </li>
        </ul>
    </div>


</div>

</body>
</html>