<!DOCTYPE html>
<html lang="en">
<head>
    <title>Duyệt Trung tâm</title>
    <script th:src="@{/js/adminFragments.js}" type="module"></script>
    <th:block th:replace="adminFragments :: adminhead"></th:block>
    <script src="/js/adminCenterManagement.js"></script>
    <link rel="stylesheet" href="/css/adminCenterManagement.css" />
</head>
<body>
<div class="wrapper ">
    <div th:replace="adminFragments :: adminheader"></div>
    <!--Start: Content-->
    <div class="main_container">
        <section id="content">
            <!-- MAIN -->
            <main>
                <div class="head-title">
                    <div class="left">
                        <h1>Duyệt trung tâm</h1>
                    </div>
                </div>
                <div class="table-data">
                    <div class="order">
                        <div class="head">
                            <h3>Danh sách trung tâm</h3>
                            <div class="filter">
                                <!-- Form tìm kiếm -->
                                <form id="searchForm">
                                    <input
                                            type="text"
                                            id="searchInput"
                                            placeholder="Tìm trung tâm theo tên"
                                            required
                                    />
                                    <button type="submit">Tìm</button>
                                </form>
                            </div>
                        </div>
                        <table>
                            <thead>
                            <tr>
                                <th><p>Trung tâm</p></th>
                                <th><p>Địa chỉ</p></th>
                                <th><p>Quản lý</p></th>
                                <th><p>Chi tiết</p></th>
                                <th><p>Hành động</p></th>
                            </tr>
                            </thead>
                            <tbody id="tableBody">

                            </tbody>

                        </table>
                        <div id="no-result">No result</div>
                        <div id="paginationControls" class="pagination-controls"></div>
                    </div>
                </div>
            </main>
        </section>
    </div>
</div>

<!-- Start modal view detail post -->
<div id="viewPostModal" class="modal">
    <div class="modal-content">
        <span id="closeViewPostModal" class="close">&times;</span>
        <h2 id="postTitleViewModal"></h2>
        <p id="postContentViewModal"></p>
        <p id="postPublishedDateViewModal"></p>
        <p id="postCenterNameViewModal"></p>
        <p id="postManagerNameViewModal"></p>
        <p id="postFileURLViewModal"></p>
        <div class="button-groups">
            <button id="approvePostButton">Duyệt</button>
            <button id="rejectPostButton">Từ chối</button>
        </div>

    </div>
</div>
<!-- End modal view detail post-->

<!-- Start toast successfull information -->
<div id="toastContainer" class="toast-container">
</div>

</body>
</html>