<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Trang chủ</title>
<!--    <link rel="stylesheet" href="/css/managerHome.css" />-->
    <link rel="stylesheet" href="/css/centerCalendar.css">
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-L+G4J1BtfI4pHsMxdnsxgWsPdEnYtZt1V7vhPjGmvqhvBLpUu8p0v5Hh6j14grPcAmq9B4P+Jif4EPFWmyH7Aw==" crossorigin="anonymous" referrerpolicy="no-referrer" />-->
<!--    <link href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet">-->
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v6.5.2/js/all.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js'></script>
</head>

<body>
<div class="wrapper">
    <div class="top_navbar">
        <div class="nva">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>
        <div class="top_menu">
            <div class="logo">
                <a href="#">Wall-E</a>
            </div>
            <form action="#" class="search">
                <i class="bx bxs-calendar-check">
                    <i class="fa fa-search"></i>
                </i>
                <input type="text" placeholder="Tìm kiếm thông báo tài khoản">
                <button onclick="" type="submit">Tìm</button>
            </form>
            <div class="profile-dropdown">
                <div onclick="toggle()" class="profile-dropdown-btn">
                    <div class="profile-img">
                        <i class="fas fa-circle"></i>
                    </div>

                    <span >Jenny

                            <i class="fas fa-angle-down"></i>
                        </span>
                </div>



                <ul class="profile-dropdown-list">
                    <li class="profile-dropdown-list-item">
                        <a href="#">
                            <i class="bx bxs-calendar-check">

                                <i class="fas fa-user"></i>
                            </i>
                            Thông tin cá nhân
                        </a>
                    </li>

                    <li class="profile-dropdown-list-item">
                        <a href="#">
                            <i class="bx bxs-calendar-check">
                                <i class="fas fa-bell"></i>
                            </i>
                            Thông báo
                        </a>
                    </li>

                    <li class="profile-dropdown-list-item">
                        <a href="/change-password">
                            <i class="bx bxs-calendar-check">
                                <i class="fas fa-lock"></i>
                            </i>
                            Đổi mật khẩu
                        </a>
                    </li>

                    <hr />

                    <li class="profile-dropdown-list-item">
                        <a href="/logout">
                            <i class="bx bxs-calendar-check">
                                <i class="fas fa-sign-out-alt"></i>
                            </i>
                            Đăng xuất
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="sidebar">
        <ul>
            <li>
                <a href="/manager/managerHome" class="active">
                    <span class="icon"><i class="fas fa-home"></i></span>
                    <span class="title">Trang chủ</span></a>
            </li>
            <!--            <li>-->
            <!--                <a href="/manager/noti" id="sidebarNoti">-->
            <!--                    <span class="icon"><i class="fas fa-bell"></i></span>-->
            <!--                    <span class="title">Thông báo</span></a>-->
            <!--            </li>-->
            <li>
                <a href="/manager/mpost" id="sidebarPost">
                    <span class="icon"><i class="fa-regular fa-newspaper"></i></span>
                    <span class="title">Bài đăng</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="main_container">
        <section id="content">

            <!-- MAIN -->
            <main>
                <div class="table-data">
                    <div class="order">
                        <div id='calendar'></div>
                    </div>
                </div>
                <div class="table-data" id="newOrder">

                    <div><button id="openModalBtn" style="border-radius: 5px; background-color: #2e4ead; color: white; ">Thêm lịch học</button></div>
                    <div style="display: none"><button id="openAddFull" style="border-radius: 5px; background-color: #2e4ead; color: white; ">Thêm lịch học cố định</button></div>
                    <div style="display: none"><button id="turnBack" >Quay lại</button></div>

                </div>
            </main>
            <!-- MAIN -->
        </section>
    </div>

</div>
<!--add a slot-->
<div id="addSlotModal" class="modal">
    <div class="add-modal-content">
        <span id="cancelAdd" class="close">&times;</span>
        <h4 style="text-align:center">Thêm Khoảng Thời Gian</h4>
        <!-- Add Slot Form -->
        <form id="addSlotForm">
<!--            DATE-->
            <div class="form-group">
                <label for="slotDate">Ngày:</label>
                <input type="date" id="slotDate" name="slotDate" required>
            </div>
            <br>
<!--            TIME START-->
            <div class="form-group">
                <label for="slotStartTime">Bắt đầu:</label>
                <input type="time" id="slotStartTime" name="slotStartTime" required>
            </div>
            <br>
<!--            TIME END-->
            <div class="form-group">
                <label for="slotEndTime">Kết thúc:</label>
                <input type="time" id="slotEndTime" name="slotEndTime" required>
            </div>
            <br>
<!--            ROOM-->
            <div class="form-group">
                <label for="roomSelect">Phòng:</label>
                    <select id="roomSelect" name="roomSelect" required>
                        <option value="">Chọn phòng...</option>
                    </select>
            </div>
            <br>
<!--            COURSE-->
            <div class="form-group">
                <label for="courseSelect">Khóa học:</label>
                    <select id="courseSelect" name="courseSelect" required>
                        <option value="">Chọn khóa học...</option>
                    </select>
            </div>
            <br>
            <button type="submit" style="border-radius: 5px; background-color: #2e4ead; color: white; ">Thêm Slot</button>
        </form>
    </div>
</div>
<!--add full slot on timetable-->
<div id="addFullSlotModal" class="modal">
    <div class="add-modal-content">
        <span id="cancelAddFull" class="close">&times;</span>
        <h4 style="text-align:center">Thêm Khoảng Thời Gian</h4>
        <!-- Add Slot Form -->
        <form id="addFullSlotForm">
            <!--            COURSE-->
            <div class="form-group">
                <label for="courseSelectf">Khóa học:</label>
                <select id="courseSelectf" name="courseSelectf" required>
                    <option value="">Chọn khóa học...</option>
                </select>
            </div>
            <br>
            <!--            ROOM-->
            <div class="form-group">
                <label for="roomSelectf">Phòng:</label>
                <select id="roomSelectf" name="roomSelectf" required>
                    <option value="">Chọn phòng...</option>
                </select>
            </div>
            <br>
<!--            DAY - OF - WEEK-->
            <div class="form-group">
                <label for="dayOfWeekSelect">Thứ:</label>
                <select id="dayOfWeekSelect">
                    <option value="0" dateOfWeek="SUNDAY" id="cn" class="dow">Chủ Nhật</option>
                    <option value="1" dateOfWeek="MONDAY" id="t2" class="dow">Thứ Hai</option>
                    <option value="2" dateOfWeek="TUESDAY" id="t3" class="dow">Thứ Ba</option>
                    <option value="3" dateOfWeek="WEDNESDAY" id="t4" class="dow">Thứ Tư</option>
                    <option value="4" dateOfWeek="THURSDAY" id="t5" class="dow">Thứ Năm</option>
                    <option value="5" dateOfWeek="FRIDAY" id="t6" class="dow">Thứ Sáu</option>
                    <option value="6" dateOfWeek="SATURDAY" id="t7" class="dow">Thứ Bảy</option>
                </select>
            </div>
            <br>
            <!--            TIME START-->
            <div class="form-group">
                <label for="slotStartTimeF">Bắt đầu:</label>
                <input type="time" id="slotStartTimeF" name="slotStartTimeF" required>
            </div>
            <br>
            <!--            TIME END-->
            <div class="form-group">
                <label for="slotEndTimeF">Kết thúc:</label>
                <input type="time" id="slotEndTimeF" name="slotEndTimeF" required>
            </div>
            <br>
            <button type="submit">Cập nhật</button>
        </form>
    </div>
</div>

<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV7pDtpDkJN3Y3Y3U5YT4J3B2FjYJnFb5iqf8/a5QVm8Zk1X3SRYDhdjNUG9wv" crossorigin="anonymous"></script>-->

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js"></script>-->

<!-- Edit Event Modal -->
<div id="editEventModal" class="modal">
    <div class="modal-content">
        <span id="closeEditModal" class="close">&times;</span>
        <h2>Thông tin tiết học</h2>
        <form id="editEventForm">
            <input type="hidden" id="editEventId" name="editEventId">

            <label for="editEventTitle">Khoá học hiện tại:</label>
            <input type="text" id="editEventTitle" name="editEventTitle" readonly>
            <br>
            <!--            COURSE-->
<!--            <div class="form-group">-->
<!--                <label for="newCourse">Khóa học:</label>-->
<!--                <select id="newCourse" name="newCourse" required>-->
<!--                    <option value="">Chọn khóa học...</option>-->
<!--                </select>-->
<!--            </div>-->
<!--            <br>-->

            <label for="editEventDescription">Phòng học hiện tại:</label>
            <input type="text" id="editEventDescription" name="editEventDescription" rows="3" readonly></input>
            <br>
            <!--            ROOM-->
<!--            <div class="form-group">-->
<!--                <label for="newRoom">Phòng:</label>-->
<!--                <select id="newRoom" name="newRoom" required>-->
<!--                    <option value="">Chọn phòng...</option>-->
<!--                </select>-->
<!--            </div>-->
<!--            <br>-->

            <label for="editSlotDate">Ngày:</label>
            <input type="date" id="editSlotDate" name="editSlotDate" required>
            <br>

            <label for="editSlotStartTime">Bắt đầu:</label>
            <input type="time" id="editSlotStartTime" name="editSlotStartTime" required>
            <br>

            <label for="editSlotEndTime">Kết thúc:</label>
            <input type="time" id="editSlotEndTime" name="editSlotEndTime" required>
            <br>

            <button type="submit" style="display: none">Cập nhật</button>
            <button type="button" id="deleteEventBtn" class="deleteEventBtn" style="display: none">Xoá tiết học</button>
        </form>
    </div>
</div>


<!--<script src="/js/centerCalendar.js" type="module"></script>-->
<script src="/js/centerCalendarz.js" type="module"></script>
<script src="/js/dropdown.js"></script>

</body>

</html>