<!DOCTYPE html>
<html lang="en">
<head>
    <title>Trang chủ</title>
    <link rel="stylesheet" href="/css/material.css" />

    <script src="/js/parentDashboard.js"></script>
    <script th:src="@{/js/fragments.js}" type="module"></script>
    <th:block th:replace="fragments :: head"></th:block>
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments :: header"></div>

    <div class="main_container">
        <section id="content">
            <!-- MAIN -->
            <main>
                <div class="header">
                    <div>Tài liệu chung</div>
                    <!-- Chưa có API buồn-->
                    <button class="upload-btn" onclick="window.location.href='material-create'">
                        <i class="fas fa-plus"></i>
                        <span>Upload tài liệu</span>
                    </button>
                </div>



            <!--Start material and filter-->
                <div class="container">
                    <div class="button">
                        <div class="button-item">
                            <button>Tất cả</button>
                        </div>
                        <div class="button-item">
                            <button>Khối 1</button>
                        </div>
                        <div class="button-item">
                            <button >Khối 2</button>
                        </div>
                        <div class="button-item">
                            <button >Khối 3</button>
                        </div>
                        <div class="button-item">
                            <button >Khối 4</button>
                        </div>
                        <div class="button-item">
                            <button >Khối 5</button>
                        </div>
                        <div class="button-item">
                            <button >Khối 6</button>
                        </div>
                        <div class="button-item">
                            <button >Khối 7</button>
                        </div>
                        <div class="button-item">
                            <button >Khối 8</button>
                        </div>
                        <div class="button-item">
                            <button >Khối 9</button>
                        </div>
                        <div class="button-item">
                            <button >Khối 10</button>
                        </div>
                        <div class="button-item">
                            <button >Khối 11</button>
                        </div>
                        <div class="button-item">
                            <button >Khối 12</button>
                        </div>

                    </div>
                    <div class="item-material">
                        <div class="student-exam-result-up">
                            <div class="image-fit">
                                <img alt="word-icon" src="https://239114911.e.cdneverest.net/cdnazota/storage_public/azota_assets/images/type_file/word.svg">
                            </div>
                            <div class="text-left">
                                <div class="azt-student-name">
                                    <span class="font-medium truncate">Trắc nghiệm Toán 7</span>
                                </div>
                                <div class="info">
                                    <span class="text-slate-500 font-medium"> Ngày cập nhật: </span>
                                    <span class="text-black font-medium"> 12/06/2024 00:26 </span>
                                </div>
                                <div class="info">
                                    <span class="text-slate-500 font-medium"> Người soạn: </span>
                                    <span class="text-black font-medium"> Đỗ Yến Oanh </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-material">
                        <div class="student-exam-result-up">
                            <div class="image-fit">
                                <img alt="word-icon" src="https://239114911.e.cdneverest.net/cdnazota/storage_public/azota_assets/images/type_file/word.svg">
                            </div>
                            <div class="text-left">
                                <div class="azt-student-name">
                                    <span class="font-medium truncate">Trắc nghiệm Toán 7</span>
                                </div>
                                <div class="info">
                                    <span class="text-slate-500 font-medium"> Ngày cập nhật: </span>
                                    <span class="text-black font-medium"> 12/06/2024 00:26 </span>
                                </div>
                                <div class="info">
                                    <span class="text-slate-500 font-medium"> Người soạn: </span>
                                    <span class="text-black font-medium"> Đỗ Yến Oanh </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-material">
                        <div class="student-exam-result-up">
                            <div class="image-fit">
                                <img alt="word-icon" src="https://239114911.e.cdneverest.net/cdnazota/storage_public/azota_assets/images/type_file/word.svg">
                            </div>
                            <div class="text-left">
                                <div class="azt-student-name">
                                    <span class="font-medium truncate">Trắc nghiệm Toán 7</span>
                                </div>
                                <div class="info">
                                    <span class="text-slate-500 font-medium"> Ngày cập nhật: </span>
                                    <span class="text-black font-medium"> 12/06/2024 00:26 </span>
                                </div>
                                <div class="info">
                                    <span class="text-slate-500 font-medium"> Người soạn: </span>
                                    <span class="text-black font-medium"> Đỗ Yến Oanh </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-material">
                        <div class="student-exam-result-up">
                            <div class="image-fit">
                                <img alt="word-icon" src="https://239114911.e.cdneverest.net/cdnazota/storage_public/azota_assets/images/type_file/word.svg">
                            </div>
                            <div class="text-left">
                                <div class="azt-student-name">
                                    <span class="font-medium truncate">Trắc nghiệm Toán 7</span>
                                </div>
                                <div class="info">
                                    <span class="text-slate-500 font-medium"> Ngày cập nhật: </span>
                                    <span class="text-black font-medium"> 12/06/2024 00:26 </span>
                                </div>
                                <div class="info">
                                    <span class="text-slate-500 font-medium"> Người soạn: </span>
                                    <span class="text-black font-medium"> Đỗ Yến Oanh </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-material">
                        <div class="student-exam-result-up">
                            <div class="image-fit">
                                <img alt="word-icon" src="https://239114911.e.cdneverest.net/cdnazota/storage_public/azota_assets/images/type_file/word.svg">
                            </div>
                            <div class="text-left">
                                <div class="azt-student-name">
                                    <span class="font-medium truncate">Trắc nghiệm Toán 7</span>
                                </div>
                                <div class="info">
                                    <span class="text-slate-500 font-medium"> Ngày cập nhật: </span>
                                    <span class="text-black font-medium"> 12/06/2024 00:26 </span>
                                </div>
                                <div class="info">
                                    <span class="text-slate-500 font-medium"> Người soạn: </span>
                                    <span class="text-black font-medium"> Đỗ Yến Oanh </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Repeat as needed for more items -->
                </div>


                <!--                End list material-->
            </main>
            <!-- MAIN -->
        </section>
    </div>
</div>


</body>
</html>
