<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Chi tiết khóa học</title>
    <link rel="stylesheet" href="/css/studentClassDetail.css" />
    <script src="/js/classRegisteredDetail.js" defer></script>
    <script th:src="@{/js/fragments.js}" type="module"></script>
    <th:block th:replace="~{fragments :: head}"></th:block>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments :: header"></div>
    <div class="main_container">
        <section id="content">
            <!-- MAIN -->
            <main>
<!--                <p th:text="${user.id}"></p>-->
                <div class="head-title">
                    <i class="return fas fa-arrow-left" onclick="history.back()"></i>

                    <div class="left">
                        <p th:text="${user.role.getDescription()}" style="display: none" id="role-user"></p>
                        <div>
                            <button id="feedback-btn">Đánh giá giáo viên</button>
                        </div>
                    </div>
                </div>
                <div class="class-detail">
                    <div class="detail-header">
                        <h3></h3>
                    </div>
                    <div class="detail">
                        <div class="roadmap">
                            <h3 class="roadmap-header">Mô tả khóa học</h3>
                            <div class="start-time">
                                <h3></h3>
                            </div>
                            <div class="end-time">
                                <h3></h3>
                            </div>
                        </div>
                        <div class="report">
                            <h3 style="font-weight: 600" class="report-header">Kết quả</h3>
                            <div class="report-detail">
                                <button id="btn-evaluation-details">Xem chi tiết</button>
                            </div>
                        </div>
                        <div class="attendance" th:if="${user.role.getDescription().name() != 'TEACHER'}">
                            <h3 style="font-weight: 600" class="attendance-header">Tình trạng điểm danh</h3>
                            <div id="attendance-detail" >
                                <button id="btn-attendance-details">Xem chi tiết</button>
                            </div>
                        </div>

                        <!-- <div class="attendance" th:if="${user.role.getDescription().name() == 'TEACHER'}">
                            <h3 style="font-weight: 600" class="attendance-header">Tình trạng điểm danh</h3>
                            <div id="attendance-all">
                                <a th:href="@{/attendance(courseId=${param.courseId}, date=${currentDate})}">Xem chi tiết</a>
                            </div>

                        </div> -->
                    </div>
                    <div>
                        <div id="class-list">
                                    <h2 class="number-students">Danh sách lớp</h2>
                                    <table id="classListTable">
                                        <thead>
                                        <tr>
                                            <th>Số thứ tự</th>
                                            <th>Tên học sinh</th>
                                            <th id="scoreHeader" style="display: none;">Bảng điểm</th>
                                        </tr>
                                        </thead>
                                        <tbody id="classListBody">
                                        </tbody>
                                    </table>
                                </div>
                        </div>
                    </div>
                    <!-- Modal điểm kiểm tra -->
                <div id="evaluationModal" class="modal">
                    <div class="modal-content">
                        <span class="close" id="closeEvaluationModal">&times;</span>
                        <table id="scoresTable">
                            <thead>
                            <tr>
                                <th>Hệ số bài kiểm tra</th>
                                <th>Cột điểm</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="scoresTableBody">
                            </tbody>
                        </table>
                        <p id="teacherFeedback"></p>
                        <button id="saveScoresButton">Lưu</button>
                        <button id="addScoresButton">Thêm điểm</button>

                    </div>
                </div>

<!--                Modal enter score-->
                <div id="evaluationModalEnter" class="modal">
                    <div class="modal-content">
                        <span class="close" id="closeEvaluationModalEnter">&times;</span>
                        <table id="scoresTableEnter">
                            <thead>
                            <tr>
                                <th>Hệ số bài kiểm tra</th>
                                <th>Cột điểm</th>
                            </tr>
                            </thead>
                            <tbody id="scoresTableBodyEnter">
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Modal điểm danh -->
                <div id="attendanceModal" class="modal">
                    <div class="modal-content">
                        <span class="close" id="closeAttendanceModal">&times;</span>
                        <h2>Chi tiết điểm danh</h2>
                        <canvas id="myChart"></canvas>
                        <div id="attendanceDetails"></div>
                    </div>
                </div>


                <!-- Modal tạo feedback cho giáo viên -->
                <div id="feedbackModal" class="modal">
                    <div class="modal-content">
                        <span class="close" id="closeFeedbackModal">&times;</span>
                        <h2>Gửi Feedback cho Giáo Viên</h2>
                        <form id="feedbackForm">
                            <div class="nameTeacher">
                                <label for="teacherName">Tên giáo viên:</label>
                                <input type="text" id="teacherName" name="teacherName" readonly>
                            </div>
                            <div class="feedbackDetail">
                                <label for="feedbackContent">Nội dung feedback:</label>
                                <textarea id="feedbackContent" name="feedbackContent" rows="4" cols="50" required></textarea>
                            </div>
                            <div class="rating-container">
                                <span class="rating-label">Đánh giá:</span>
                                <div class="rate-box">
                                    <input type="radio" name="star" id="star1" value="1" />
                                    <label class="star" for="star1">&#9733;</label>
                                    <input type="radio" name="star" id="star2" value="2" />
                                    <label class="star" for="star2">&#9733;</label>
                                    <input type="radio" name="star" id="star3" value="3" />
                                    <label class="star" for="star3">&#9733;</label>
                                    <input type="radio" name="star" id="star4" value="4" />
                                    <label class="star" for="star4">&#9733;</label>
                                    <input type="radio" name="star" id="star5" value="5" />
                                    <label class="star" for="star5">&#9733;</label>
                                </div>
                            </div>
                            <button type="submit">Gửi</button>
                        </form>
                        <p id="feedbackSuccessMessage" style="display:none; color: green;">Cảm ơn bạn đã gửi feedback!</p>
                    </div>
                </div>


                <!--Toast-->
                    <div id="toastContainer" class="toast-container"></div>

            </main>
            <!-- MAIN -->
        </section>
    </div>
</div>



</body>
</html>


