<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Chi tiết khóa học</title>
    <link rel="stylesheet" href="/css/studentClassDetail.css" />
    <script src="/js/classRegisteredDetail.js" defer></script>
    <script th:src="@{/js/fragments.js}" type="module"></script>
    <th:block th:replace="~{fragments :: head}"></th:block>
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments :: header"></div>
    <div class="main_container">
        <section id="content">
            <!-- MAIN -->
            <main>
                <div class="head-title">
                    <a class="back" onclick="history.back()"> Quay lại</a>

                    <div class="left">
                        <h1>Chi tiết khóa học</h1>
                        <p th:text="${user.role.getDescription()}" style="display: none" id="role-user"></p>
                        <div>
                            <button id="feedback-btn">Đánh giá giáo viên</button>
                        </div>
                    </div>
                </div>
                <div class="class-detail">
                    <div class="detail-header">
                        <h3></h3>
                    </div>
                    <div class="detail">
                        <div class="roadmap">
                            <h3 class="roadmap-header">Mô tả khóa học</h3>
                            <div class="start-time">
                                <p></p>
                            </div>
                            <div class="end-time">
                                <p></p>
                            </div>
                        </div>
                        <div class="report">
                            <h3 class="report-header">Kết quả/đánh giá</h3>
                            <div class="report-detail">
                                <button id="btn-evaluation-details">Xem chi tiết</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div id="class-list">
                                    <h2 class="number-students">Danh sách lớp</h2>
                                    <table id="classListTable">
                                        <thead>
                                        <tr>
                                            <th>Số thứ tự</th>
                                            <th>Tên học sinh</th>
                                            <th id="scoreHeader" style="display: none;">Bảng điểm</th>
                                        </tr>
                                        </thead>
                                        <tbody id="classListBody">
                                        </tbody>
                                    </table>
                                </div>
                        </div>
                    </div>
                    <!-- Modal điểm kiểm tra -->
                <div id="evaluationModal" class="modal">
                    <div class="modal-content">
                        <span class="close" id="closeEvaluationModal">&times;</span>
                        <table id="scoresTable">
                            <thead>
                            <tr>
                                <th>Bài kiểm tra</th>
                                <th>Điểm</th>
                            </tr>
                            </thead>
                            <tbody id="scoresTableBody">
                            </tbody>
                        </table>
                        <p id="teacherFeedback"></p>
                    </div>

                </div>

                <!-- Modal điểm danh -->
                    <div id="attendanceModal" class="modal">
                        <div class="modal-content">
                            <span class="close" id="closeAttendanceModal">&times;</span>
                            <h2>Chi tiết điểm danh</h2>
                            <div id="attendanceList"></div>
                        </div>
                    </div>

                    <!--Modal create feedback-->
                    <div id="feedbackModal" class="modal">
                        <div class="modal-content">
                            <span class="close" id="closeFeedbackModal">&times;</span>
                            <h2>Teacher Feedback</h2>
                            <form id="feedbackForm">
                                <div class="nameTeacher">
                                    <label for="teacherName">Teacher Name:</label>
                                    <input type="text" id="teacherName" name="teacherName" readonly>
                                </div>
                                <div class="feedbackDetail">
                                    <label for="feedbackContent">Feedback:</label>
                                    <textarea id="feedbackContent" name="feedbackContent" rows="4" cols="50" required></textarea>
                                </div>
                                <button type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                    <!--Toast-->
                    <div id="toastContainer" class="toast-container"></div>
            </main>
            <!-- MAIN -->
        </section>
    </div>
</div>
</body>
</html>
