<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="head">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" th:href="@{/css/fragments.css}" />
        <script th:src="@{/js/fragments.js}" type="module"></script>
        <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
        <link
                rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
                integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"
        />
    </th:block>
</head>
<body>

<div th:fragment="header">
    <p th:text="${user.role.getDescription().name()}" id="user-role" style="display: none"></p>
    <div class="top_navbar">
        <div class="hamburger">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>
        <div class="top_menu">
            <div
                    onclick="window.location.href='/dashboard'"
                    class="logo"
            >
                Wall-E
            </div>

            <form action="search" method="get" class="search">
                <i class="fa fa-search"></i>
                <input
                        type="text"
                        name="keyword"
                        required
                        placeholder="Tìm kiếm trung tâm/khóa học"
                        id="search-input"
                />
                <div class="search-results" id="search-results"></div>
                <button type="submit" class="search-btn">Tìm</button>
            </form>


<!--            <form action="/search" method="get" class="search">-->
<!--                <i class="fa fa-search"></i>-->
<!--                <input-->
<!--                        type="text"-->
<!--                        name="keyword"-->
<!--                        required-->
<!--                        placeholder="Tìm kiếm trung tâm/khóa học"-->
<!--                        id="search-input"-->
<!--                />-->
<!--                <button type="submit" class="search-btn">Tìm</button>-->
<!--            </form>-->


            <div class="item-drop-down">
                <div class="notification">
                    <div id="bell">
                        <i class="fas fa-bell"></i>
                        <!--                        <span id="notificationCount" class="notification-count" th:text="${notificationCount}">0</span>-->
                        <span id="notificationCount" class="notification-count" >0</span>
                    </div>
                    <div class="content-notification">
                        <div class="system-notification">
                            <div class="system-notification-icon">
                                <i class="fas fa-box-archive"></i>
                            </div>
                            <div>
                                <h3>Thông báo hệ thống</h3>
                                <p>Click vào đây để xem các thông báo hệ thống</p>
                            </div>
                            <div>
                                <i class="fas fa-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile-dropdown">
                    <div class="profile-dropdown-btn">

                            <span th:if="${session.user?.profileImage == null}">
                                <img class="profile-img" src="/images/3d-ava.jpg">
                            </span>
                        <span  th:if="${session.user?.profileImage != null}">
                                <img class="profile-img" th:attr="src=@{${session.user?.profileImage}}"/>
                            </span>

                        <p th:text="${session.user?.username}"></p>

                        <span
                        >
                  <i class="fas fa-angle-down"></i>
                </span>
                    </div>

                    <ul class="profile-dropdown-list">
                        <li class="profile-dropdown-list-item">
                            <a href="profile">
                                <i class="fas fa-user"></i>
                                Thông tin cá nhân
                            </a>
                        </li>
                        <li class="profile-dropdown-list-item">
                            <a href="change-password">
                                <i class="fas fa-lock"></i>
                                Đổi mật khẩu
                            </a>
                        </li>

                        <div th:unless="${user.role.getDescription().name() == 'TEACHER'}">
                            <li class="profile-dropdown-list-item">
                                <a href="/mapping">
                                    <i class="fas fa-link"></i>
                                    Kết nối với phụ huynh/con
                                </a>
                            </li>
                        </div>


                        <hr />

                        <li class="profile-dropdown-list-item">
                            <a href="/logout">
                                <i class="fas fa-sign-out-alt"></i>
                                Đăng xuất
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar">
        <ul>
            <li>
                <a href="/dashboard">
                    <span class="icon"><i class="fas fa-home"></i></span>
                    <span class="title">Trang chủ</span></a
                >
            </li>
            <li>
                <a href="/profile">
                    <span class="icon"><i class="fas fa-user"></i></span>
                    <span class="title">Thông tin cá nhân</span></a
                >
            </li>

            <li>
                <a href="/timetable">
                    <span class="icon"><i class="fas fa-calendar-days"></i></span>
                    <span class="title">Thời khóa biểu</span>
                </a>
            </li>
            <li>
                <a href="/material">
                    <span class="icon"><i class="fas fa-file"></i></span>
                    <span class="title">Tài liệu</span>
                </a>
            </li>

        </ul>
    </div>



    <!-- Chat box start -->
    <div class="chatbox-wrapper">
        <div class="chatbox-toggle">
            <i class='bx bx-message-dots'></i>
        </div>
        <div class="chatbox-message-wrapper">
            <div class="chatbox-message-header">
                <div class="chatbox-message-profile">
                    <img src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bWFufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="" class="chatbox-message-image">
                    <div>
                        <h4 class="chatbox-message-name">Jonathan Doe</h4>
                        <p class="chatbox-message-status">online</p>
                    </div>
                </div>
                <div class="chatbox-message-dropdown">
                    <i class='bx bx-dots-vertical-rounded chatbox-message-dropdown-toggle'></i>
                    <ul class="chatbox-message-dropdown-menu">
                        <li>
                            <a href="#">Search</a>
                        </li>
                        <li>
                            <a href="#">Report</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="chatbox-message-content">
                <h4 class="chatbox-message-no-message">You don't have message yet!</h4>
                <!-- <div class="chatbox-message-item sent">
                  <span class="chatbox-message-item-text">
                    Lorem, ipsum, dolor sit amet consectetur adipisicing elit. Quod, fugiat?
                  </span>
                  <span class="chatbox-message-item-time">08:30</span>
                </div>
                <div class="chatbox-message-item received">
                  <span class="chatbox-message-item-text">
                    Lorem, ipsum, dolor sit amet consectetur adipisicing elit. Quod, fugiat?
                  </span>
                  <span class="chatbox-message-item-time">08:30</span>
                </div> -->
            </div>
            <div class="chatbox-message-bottom">
                <form action="#" class="chatbox-message-form">
                    <textarea rows="1" placeholder="Type message..." class="chatbox-message-input"></textarea>
                    <button type="submit" class="chatbox-message-submit"><i class='bx bx-send' ></i></button>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>
