<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Trang chủ</title>
    <link rel="stylesheet" href="/css/managerNoti.css" />
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v6.5.2/js/all.js"></script>
</head>

<body>
<div class="wrapper">
    <div class="top_navbar">
        <div class="nva">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>
        <div class="top_menu">
            <div class="logo">
                <a href="#">Wall-E</a>
            </div>
            <form action="#" class="search">
                <i class="bx bxs-calendar-check">
                    <i class="fa fa-search"></i>
                </i>
                <input type="text" placeholder="Tìm kiếm thông báo tài khoản">
                <button onclick="" type="submit">Tìm</button>
            </form>
            <div class="profile-dropdown">
                <div onclick="toggle()" class="profile-dropdown-btn">
                    <div class="profile-img">
                        <i class="fas fa-circle"></i>
                    </div>

                    <span >Victoria

                            <i class="fas fa-angle-down"></i>
                        </span>
                </div>



                <ul class="profile-dropdown-list">
                    <li class="profile-dropdown-list-item">
                        <a href="#">
                            <i class="bx bxs-calendar-check">

                                <i class="fas fa-user"></i>
                            </i>
                            Thông tin cá nhân
                        </a>
                    </li>

                    <li class="profile-dropdown-list-item">
                        <a href="#">
                            <i class="bx bxs-calendar-check">
                                <i class="fas fa-bell"></i>
                            </i>
                            Thông báo
                        </a>
                    </li>

                    <li class="profile-dropdown-list-item">
                        <a href="/change-password">
                            <i class="bx bxs-calendar-check">
                                <i class="fas fa-lock"></i>
                            </i>
                            Đổi mật khẩu
                        </a>
                    </li>

                    <hr />

                    <li class="profile-dropdown-list-item">
                        <a href="/guest">
                            <i class="bx bxs-calendar-check">
                                <i class="fas fa-sign-out-alt"></i>
                            </i>
                            Đăng xuất
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="sidebar">
        <ul>
            <li>
                <a href="/manager/managerHome">
                    <span class="icon"><i class="fas fa-home"></i></span>
                    <span class="title">Trang chủ</span></a>
            </li>
            <li>
                <a href="/manager/noti" class="active">
                    <span class="icon"><i class="fas fa-bell"></i></span>
                    <span class="title">Thông báo</span></a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="fa-solid fa-money-bill-trend-up"></i></span>
                    <span class="title">Doanh thu</span>
                </a>
            </li>
            <li>
                <a href="/manager/mpost">
                    <span class="icon"><i class="fa-regular fa-newspaper"></i></span>
                    <span class="title">Bài đăng</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="main_container">
        <section id="content">
            <!-- MAIN -->
            <main>
                <div class="head-title">
                    <div class="left">
                        <h1>Thông báo của tôi</h1>
                    </div>
                </div>
                <!-- Start class list -->
                <<div class="table-data">
                <div class="order">
                    <div class="head">
                        <h3>Danh sách thông báo</h3>
                    </div>
                    <div class="buttonNotifcations">
                        <button id="publicNotificationBtn">Thông báo hệ thống</button>
                        <button id="privateNotificationBtn">Thông báo cá nhân</button>

                    </div>
                    <table id="notificationTable">
                        <thead>
                        <tr>
                            <th>Tiêu đề</th>
                            <th>Ngày tạo</th>
                            <th>Phân loại</th>
                            <th>Chi tiết</th>
                        </tr>
                        </thead>
                        <tbody id="notificationTableBody"></tbody>
                    </table>
                    <div id="paginationControls" class="pagination-controls"></div>
                </div>
                <!--  -->
            </div>
                <!-- End classlist -->
            </main>
            <!-- MAIN -->
        </section>
    </div>
</div>
<!-- Start: VIEW NOTIFICATION MODAL -->
<div id="viewNotificationModal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeViewNotification">&times;</span>
        <h2>Chi Tiết Thông Báo</h2>
        <h3 id="viewNotificationTitle"></h3>
        <p id="viewNotificationCreatedAt"></p>
        <p id="viewNotificationSendTo"></p>
        <p id="viewNotificationCenter"></p>
        <p id="viewNotificationContent"></p>
    </div>
</div>
</div>

<script src="/js/managerNoti.js" type="module"></script>
<script src="/js/dropdown.js"></script>

</body>

</html>