<!DOCTYPE html>
<html lang="en">
<head>
    <title>Trang chủ</title>
    <link rel="stylesheet" href="/css/material.css" />
    <script src="/js/material-create-select.js"></script>
    <script th:src="@{/js/fragments.js}" type="module"></script>
    <th:block th:replace="fragments :: head"></th:block>
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments :: header"></div>

    <div class="main_container">
        <section id="content">
            <main>
                <div class="header">
                    <div>Chọn trước khi upload tài liệu</div>
                </div>

                <div class="container">

                    <div class="button-group">
                        <div class="header-container">
                            <h2>Select Grade</h2>
                        </div>
                        <div  id="grade-buttons">

                        </div>
                    </div>
                    <div class="button-group" id="subject-buttons" style="display: none;">
                        <h2>Select Subject</h2>
                    </div>
                </div>
            </main>
        </section>
    </div>
</div>

</body>
</html>
