<!DOCTYPE html>
<html lang="en">
<head>
    <title>Trang chủ</title>
    <link rel="stylesheet" href="/css/material.css" />
    <script src="/js/material-detail.js"></script>
    <script th:src="@{/js/fragments.js}" type="module"></script>
    <th:block th:replace="fragments :: head"></th:block>
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments :: header"></div>

    <div class="main_container">
        <section id="content">
            <main>
                <i class="return fas fa-arrow-left" onclick="history.back()"></i>
                <p th:text="${param.modify}" id="modify" style="display: none"></p>
                <div class="header">
                    <p th:text="${user.role.getDescription().name()}" id="roleUser" style="display: none"></p>
                </div>
                <div class="container">
                    <div id="material-detail"></div>
                </div>
            </main>
        </section>
    </div>
</div>

</body>
</html>
