<!DOCTYPE html>
<html lang="en">
<head>
    <title>Trang chủ</title>
    <link rel="stylesheet" href="/css/timetable.css" />

    <script src="/js/teacherDashboard.js"></script>
    <script th:src="@{/js/fragments.js}" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js"></script>
    <th:block th:replace="fragments :: head"></th:block>
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments :: header"></div>

    <div class="main_container">
        <section id="content">
            <!-- MAIN -->
            <main>
                <div class="head-title">
                    <div class="left">
                        <h1>Chi tiết thông báo</h1>

                    </div>
                </div>
                <div class="class-detail">
                    <div class="detail-header">
                        <h3>Tiêu đề thông báo</h3>
                    </div>
                    <div class="detail">


                    </div>

                </div>

            </main>
            <!-- MAIN -->
        </section>
    </div>
</div>

<!--Start modal create event-->


</body>
</html>
