    <!DOCTYPE html>
<html lang="en">
<head>
    <title>Trang chủ</title>
    <link rel="stylesheet" href="/css/studentDashboard.css" />

    <script src="/js/parentDashboard.js"></script>
    <script th:src="@{/js/fragments.js}" type="module"></script>
    <th:block th:replace="fragments :: head"></th:block>
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments :: header"></div>
    <div class="main_container">
        <section id="content">
            <!-- MAIN -->
            <main>
                <p th:text="${user.id}" id="userId"></p>

                <div class="header">Khóa học của con</div>
                <div class="box-container" id="courseBoxes">
                </div>
                <div id="no-result">No result</div>
                <div id="paginationControls" class="pagination-controls"></div>
            </main>
            <!-- MAIN -->
        </section>
    </div>
</div>


</body>
</html>
