<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Thông tin cá nhân</title>
    <link rel="stylesheet" href="/css/adminProfile.css" />
    <script th:src="@{/js/adminFragments.js}" type="module"></script>
    <th:block th:replace="adminFragments :: adminhead"></th:block>
  </head>
  <body>
    <div class="wrapper collapse">
      <div th:replace="adminFragments :: adminheader"></div>

      <div class="main_container">
        <div>
          <h4>Thông tin cá nhân</h4>
        </div>
        <div class="avatar">
            <img class="avatar-image" src="https://bootdey.com/img/Content/avatar/avatar1.png" />

          <div class="avatar-btn">
            <label class="btn btn-outline-primary">
              Upload new photo
              <input type="file" class="account-settings-fileinput" />
            </label>
            &nbsp;
            <div class="avatar-desc">
              Allowed JPG, GIF or PNG. Max size of 800K
            </div>
          </div>
        </div>
        <form class="profile-info">
          <div class="profile-input">
            <label>Họ và tên</label>
<!--            <h3 th:text = "${userCount}"></h3>-->
            <input type="text" id="name" name="name" th:value="${user}" required />
<!--            <input type="text" class="form-control mb-1" name="name" th:value="${user.name}">-->
          </div>
          <div class="profile-input">
            <label>Email</label>
            <input type="text" value="Email"  />
          </div>
          <div class="profile-input">
            <label>Số điện thoại</label>
            <input type="text" value="Số điện thoại"  />
          </div>
          <div class="profile-submit">
            <input class="profile-btn profile-btn-submit" type="submit" value="Cập nhật" />


          </div>
        </form>
      </div>
    </div>

  </body>
</html>
