<!DOCTYPE html>
<html lang="en">
<head>
    <title>Thời khóa biểu</title>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
            integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/studentDashboard.css" />
    <script src="/js/studentDashboard.js"></script>
    <script th:src="@{/js/fragments.js}" type="module"></script>
    <th:block th:replace="fragments :: head"></th:block>
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments :: header"></div>

    <div class="main_container">
        <div class="notification-buttons">
            <button id="showPersonalNotifications">Thông báo cá nhân</button>
            <span></span>
            <button id="showGeneralNotifications">Thông báo chung</button>
        </div>

        <div id="notificationContent">
            <!-- Nội dung thông báo sẽ được hiển thị ở đây -->
        </div>
    </div>
</div>


</body>
</html>
