<!DOCTYPE html>
<html lang="en">
<head>
    <title>Trang chủ</title>
    <link rel="stylesheet" href="/css/studentProfile.css" />
    <script th:src="@{/js/studentFragments.js}" type="module"></script>
    <th:block th:replace="studentFragments :: studenthead"></th:block>
</head>
<body>
<div class="wrapper">
    <div th:replace="studentFragments :: studentheader"></div>

    <div class="main_container">
        <div>
            <h4>Thông tin cá nhân</h4>
        </div>
        <div class="avatar">
            <img class="avatar-image" src="https://bootdey.com/img/Content/avatar/avatar1.png" />

            <div class="avatar-btn">
                <label class="btn btn-outline-primary">
                    Upload new photo
                    <input type="file" class="account-settings-fileinput" />
                </label>
                &nbsp;
                <div class="avatar-desc">
                    Allowed JPG, GIF or PNG. Max size of 800K
                </div>
            </div>
        </div>
        <form class="profile-info">
            <div class="profile-input">
                <label>Họ và tên</label>
                <input type="text" value="Họ và tên"  />
            </div>
            <div class="profile-input">
                <label>Email</label>
                <input type="text" value="Email"  />
            </div>
            <div class="profile-input">
                <label>Số điện thoại</label>
                <input type="text" value="Số điện thoại"  />
            </div>
            <div class="profile-input">
                <label>Địa chỉ</label>
                <input type="text" value="Địa chỉ"  />
            </div>
            <div class="profile-input">
                <label>Ngày sinh</label>
                <input type="date"  />
            </div>
            <div class="profile-input">
                <label for="gender">Giới tính</label>
                <select id="gender">
                    <option value="male">Nam</option>
                    <option value="female">Nữ</option>
                </select>
            </div>
            <div class="profile-submit">
                <input class="profile-btn profile-btn-submit" type="submit" value="Cập nhật" />


            </div>
        </form>
    </div>
</div>

</body>
</html>
