<!DOCTYPE html>
<html lang="en">
<!--xmlns:th="http://www.thymeleaf.org"-->
<head>
    <meta charset="UTF-8" />
    <title>Trang chủ</title>
    <link rel="stylesheet" href="/css/studentManagement.css"/>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v6.5.2/js/all.js"></script>
    <script src="/js/stuInfo.js"></script>
</head>

<body>
<div class="main_container">
    <section id="content">
        <!-- MAIN -->
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Sơ yếu lí lịch</h1>
                    <div class="runline">
                        <p>Hôm nay là:
                            <span id="currentDate"></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="table-data">
                <div class="order">
                    <table>
                        <tr>
                            <div class="head"><h3 id="studentNameHeading" >Thông tin cơ bản của học sinh</h3></div>
                        </tr>
                        <tr>
                            <th colspan="1" class="section-header"></th>
                            <th colspan="1" class="section-header"  >Học viên</th>
                            <th colspan="1" class="section-header" id="nameParent"  >Phụ huynh</th>
                        </tr>
                        <tr style="text-align: left;">
                            <td><label>Giới tính:</label></td>
                            <td><div id="genderStu" name="gender"></div></td>
                            <td style="text-align: left;"><div id="genderP" name="gender"></div></td>
                            <td></td>
                        </tr>
                        <tr style="text-align: left;">
                            <td><label>Số điện thoại:</label></td>
                            <td><div id="phoneStu" name="phone">Không có</div></td>
                            <td style="text-align: left;"><div id="phoneP" name="phone">Không có</div></td>
                            <td></td>
                        </tr>
                        <tr style="text-align: left;">
                            <td><label>Email:</label></td>
                            <td><div id="mailStu" name="mail">Không có</div></td>
                            <td style="text-align: left;"><div id="mailP" name="mail">Không có</div></td>
                            <td></td>
                        </tr>
                        <tr style="text-align: left;">
                            <td><label>Địa chỉ:</label></td>
                            <td><div id="addressStu" name="address"></div></td>
                            <td></td>
                        </tr>
                        <tr style="text-align: left;">
                            <td><label>Khoá học:</label></td>
                            <td><div id="courseStu" name="course"></div></td>
                            <td></td>
                        </tr>
                        <tr style="text-align: left;">
                            <td><label>Feedback:</label></td>
                            <td><div id="feedbackStu" name="feedback">Không có</div></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <button id="turnBack">
                                    <i class="bx bxs-calendar-check">
                                        <i class="fa-solid fa-graduation-cap" aria-hidden="false"></i>
                                    </i> Quay lại
                                </button>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <button id="scheduleButton" type="button">Lịch học</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </main>
    </section>
</div>

<div id="deleteStuModal" class="modal">
    <div class="modal-content">
        <p>Bạn có chắc chắn muốn xóa học sinh <span id="stuName"></span>?</p>
        <button id="confirmDelete">Xác nhận</button>
        <button id="cancelDeleteButton">Huỷ</button>
    </div>
</div>
<!--<script src="/js/studentManagement.js" type="module"></script>-->

</body>

</html>