<!DOCTYPE html>
<html lang="en">
<head>
    <title>Trang chủ</title>
    <link rel="stylesheet" href="/css/studentDashboard.css" />
    <script src="/js/studentDashboard.js"></script>
    <script th:src="@{/js/studentFragments.js}" type="module"></script>
    <th:block th:replace="studentFragments :: studenthead"></th:block>
</head>
<body>
<div class="wrapper">
    <div th:replace="studentFragments :: studentheader"></div>

    <div class="main_container">
        <section id="content">
            <!-- MAIN -->
            <main>
                <div class="container">

                </div>

            </main>
            <!-- MAIN -->
        </section>
    </div>
</div>


</body>
</html>
