<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Quản lý giáo viên</title>
    <link rel="stylesheet" href="/css/teacherManagement.css" />
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v6.5.2/js/all.js"></script>
    <script src="/js/teacherManagement.js"></script>
</head>

<body>
<div class="main_container">
    <section id="content">
        <!-- MAIN -->
        <main>
            <div class="head-title">
                <div class="left">
                    <h1><span id="centerDetailName"></span></h1>
                </div>
            </div>
            <ul class="box-info">
                <li>
                    <i class="bx bxs-calendar-check">
                        <i class="fa-solid fa-graduation-cap" aria-hidden="false"></i>
                    </i>
                    <span class="text">
                <a href=`/manager/qlhv?centerId=${center.id}` data-id="${center.id}" id="boxInfos">
                    <h3 id="nums"></h3>
                    <p>Học viên</p>
                </a>
            </span>
                </li>
                <li>
                    <i class='bx bxs-group'>
                        <i class="fa-solid fa-person-chalkboard"></i>
                    </i>
                    <span class="text">
                    <a href=`/manager/qlgv?centerId=${center.id}` data-id="${center.id}" id="boxInfot">
                        <h3 id="numt"></h3>
                        <p>Giáo viên</p>
                    </a>
            </span>
                </li>
                <li>
                    <i class='bx bxs-dollar-circle'>
                        <i class="fa-solid fa-layer-group"></i>
                    </i>
                    <span class="text">
              <a href="#" data-id="${center.id}" id="boxInfoc">
                <h3 id="numc"></h3>
              <p>Khoá học</p>
              </a>
            </span>
                </li>
            </ul>
            <div class="table-data">
                <div class="order">
                    <div class="head">
                        <h3>Danh sách giáo viên</h3>
                        <form action="#" class="search">
                            <i class="bx bxs-calendar-check">
                                <i class="fa fa-search"></i>
                            </i>
                            <input type="text" placeholder="Tìm kiếm giáo viên">
                            <button onclick="" type="submit">Tìm</button>
                        </form>
                        <div class="filter">
                            <select name="subjects" id="subject">
                                <option value="all">Tất cả</option>
                                <option value="Maths">Toán</option>
                                <option value="English">Anh</option>
                                <option value="Literature">Văn</option>
                                <option value="Physics">Vật lý</option>
                            </select>
                        </div>
                    </div>
                    <table id="teacher-centre-manage">
                        <thead>
                        <tr>
                            <th>
                                <p>Họ và tên</p>
                            </th>
                            <th>
                                <p>Số điện thoại</p>
                            </th>
                            <th>
                                <p>Email</p>
                            </th>
                            <th>
                                <p>Lương/hệ số lương</p>
                            </th>
                            <th>
                                <p>Hành động</p>
                            </th>
                            <th>
                                <p>Chi tiết</p>
                            </th>
                        </tr>
                        </thead>
                        <tbody id="tableBody">
                        </tbody>
                    </table>
                    <div id="no-result">No result</div>
                    <!-- Toast Notification -->
                    <div id="toast" class="toast">
                        <div id="toastMessage"></div>
                    </div>
                </div>
            </div>
            <div class="table-data">
                <div class="order">
                    <table>
                        <thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <p><button id="addCentreBtn" class="add-btn">Thêm </button></p>
                            </td>
                        </tr>
                        </tbody>
                        </thead>
                    </table>
                </div>
            </div>
        </main>
        <!-- MAIN -->
    </section>
</div>

<!-- Modal -->
<!-- Modal for Viewing Teacher Details -->
<div id="teacherDetailModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <iframe id="fns" data-id="${center.id}" width="1250" height="500" frameborder="0"
                scrolling="auto"></iframe>
    </div>
</div>
<!-- Delete Modal -->
<div id="deleteModal" class="modal">
    <div class="modal-content">
        <p>Bạn có chắc chắn muốn loại bỏ giáo viên <span id="centerName"></span>?</p>
        <button id="confirmDelete">Xác nhận</button>
        <button id="cancelDeleteButton">Huỷ</button>
    </div>
</div>

<!-- Add Center Modal -->
<div id="addCentreModal" class="modal">
    <div class="add-modal-content">
        <span id="cancelAdd" class="close">&times;</span>
        <h4 style="text-align:center">Thêm Trung Tâm</h4>
        <p>Nhập thông tin của trung tâm mới:</p>
        <!-- Add Centre Form NOT YET -->
        <form id="addCentreForm">
            <div>
                <label for="addCenterName">Tên trung tâm:</label>
                <input type="text" id="addCenterName" name="addCenterName" required>
            </div>
            <div>
                <label for="addCenterAddress">Địa chỉ trung tâm:</label>
                <input type="text" id="addCenterAddress" name="addCenterAddress" required>
            </div>
            <div>
                <label for="addCenterDesc">Mô tả:</label>
                <input type="text" id="addCenterDesc" name="addCenterDesc" required>
            </div>
            <div>
                <!--                                nên gửi/ đưa vào đâu-->
                <label for="addFileInput">File đính kèm:</label>
                <input type="file" id="addFileInput" accept=".pdf,.doc,.docx,.txt">
                <!-- <button onclick="chooseFile()">Chọn file</button> -->
            </div>
            <button type="submit" id="confirmAdd">Xác nhận</button>
        </form>

    </div>
</div>

<script src="/js/teacherManagement.js" type="module"></script>

</body>

</html>