<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Quản lý giáo viên</title>
    <link rel="stylesheet" href="/css/teacherManagement.css" />
    <link rel="stylesheet" href="/css/managerHome.css"/>
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-L+G4J1BtfI4pHsMxdnsxgWsPdEnYtZt1V7vhPjGmvqhvBLpUu8p0v5Hh6j14grPcAmq9B4P+Jif4EPFWmyH7Aw==" crossorigin="anonymous" referrerpolicy="no-referrer" />-->
<!--    <link href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet">-->
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v6.5.2/js/all.js"></script>
    <script src="/js/teacherManagement.js"></script>
</head>

<body>
<div class="wrapper">
    <div class="top_navbar">
        <div class="nva">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>
        <div class="top_menu">
            <div class="logo">
                <a href="#">Wall-E</a>
            </div>
            <form action="#" class="search">
                <i class="bx bxs-calendar-check">
                    <i class="fa fa-search"></i>
                </i>
                <input type="text" placeholder="Tìm kiếm thông báo tài khoản">
                <button onclick="" type="submit">Tìm</button>
            </form>
            <div class="profile-dropdown">
                <div onclick="toggle()" class="profile-dropdown-btn">
                    <div class="profile-img">
                        <i class="fas fa-circle"></i>
                    </div>

                    <span >Victoria

                                <i class="fas fa-angle-down"></i>
                            </span>
                </div>

                <ul class="profile-dropdown-list">
                    <li class="profile-dropdown-list-item">
                        <a href="#">
                            <i class="bx bxs-calendar-check">

                                <i class="fas fa-user"></i>
                            </i>
                            Thông tin cá nhân
                        </a>
                    </li>

                    <li class="profile-dropdown-list-item">
                        <a href="#">
                            <i class="bx bxs-calendar-check">
                                <i class="fas fa-bell"></i>
                            </i>
                            Thông báo
                        </a>
                    </li>

                    <li class="profile-dropdown-list-item">
                        <a href="/change-password">
                            <i class="bx bxs-calendar-check">
                                <i class="fas fa-lock"></i>
                            </i>
                            Đổi mật khẩu
                        </a>
                    </li>

                    <hr />

                    <li class="profile-dropdown-list-item">
                        <a href="/guest">
                            <i class="bx bxs-calendar-check">
                                <i class="fas fa-sign-out-alt"></i>
                            </i>
                            Đăng xuất
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="sidebar">
        <ul>
            <li>
                <a href="/manager/managerHome" class="active">
                    <span class="icon"><i class="fas fa-home"></i></span>
                    <span class="title">Trang chủ</span></a>
            </li>
            <li>
                <a href="/manager/noti" id="sidebarNoti">
                    <span class="icon"><i class="fas fa-bell"></i></span>
                    <span class="title">Thông báo</span></a>
            </li>
            <li>
                <a href="/manager/mpost" id="sidebarPost">
                    <span class="icon"><i class="fa-regular fa-newspaper"></i></span>
                    <span class="title">Bài đăng</span>
                </a>
            </li>
            <li>
                <a href="/manager/centerTime" id="sidebarTime">
                    <span class="icon"><i class="fa-solid fa-calendar-day"></i></span>
                    <span class="title">Thời khoá biểu</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="main_container">
        <section id="content">
            <!-- MAIN -->
            <main>
                <div class="head-title">
                    <div class="left">
                        <h1><span id="centerDetailName"></span></h1>
                    </div>
                </div>
                <ul class="box-info">
                    <li>
                        <i class="bx bxs-calendar-check">
                            <i class="fa-solid fa-graduation-cap" aria-hidden="false"></i>
                        </i>
                        <span class="text">
                  <a href="/manager/qlhv" id="boxInfos">
                    <h3 id="nums">0</h3>
                    <p>Học viên</p>
                  </a>
                </span>
                    </li>
                    <li>
                        <i class='bx bxs-group'>
                            <i class="fa-solid fa-person-chalkboard"></i>
                        </i>
                        <span class="text">
                  <a href="/manager/qlgv" id="boxInfot">
                    <h3 id="numt">0</h3>
                    <p>Giáo viên</p>
                  </a>
                </span>
                    </li>
                    <li>
                        <i class='bx bxs-dollar-circle'>
                            <i class="fa-solid fa-layer-group"></i>
                        </i>
                        <span class="text">
                    <a href=`/manager/qlkh?centerId=${center.id}` data-id="${center.id}" id="boxInfoc">
                        <h3 id="numc">0</h3>
                        <p>Khoá học</p>
                    </a>
                </span>
                    </li>
                    <li>
                        <i class='bx bxs-dollar-circle'>
                            <i class="fa-solid fa-money-bill-trend-up"></i>
                        </i>
                        <span class="text">
                    <a href=`/manager/dthu` data-id="${center.id}" id="boxInfom">
                        <h3 id="moneyC">$420</h3>
                        <p>Doanh thu</p>
                    </a>
                </span>
                    </li>
                </ul>
                <div class="table-data">
                    <div class="order">
                        <div class="head">
                            <h3>Danh sách giáo viên</h3>
                            <form action="#" class="search">
                                <i class="bx bxs-calendar-check">
                                    <i class="fa fa-search"></i>
                                </i>
                                <input type="text" placeholder="Tìm kiếm giáo viên">
                                <button onclick="" type="submit">Tìm</button>
                            </form>
                            <div class="filter">
                                <select name="subjects" id="subject">
                                    <option value="all">Tất cả</option>
                                    <option value="Maths">Toán</option>
                                    <option value="English">Anh</option>
                                    <option value="Literature">Văn</option>
                                    <option value="Physics">Vật lý</option>
                                </select>
                            </div>
                        </div>
                        <table id="teacher-centre-manage">
                            <thead>
                            <tr>
                                <th>
                                    <p>STT</p>
                                </th>
                                <th>
                                    <p>Họ và tên</p>
                                </th>
                                <th>
                                    <p>Số điện thoại</p>
                                </th>
                                <th>
                                    <p>Email</p>
                                </th>
                                <th>
                                    <p>Lương/hệ số lương</p>
                                </th>
                                <th>
                                    <p>Hành động</p>
                                </th>
                                <th>
                                    <p>Chi tiết</p>
                                </th>
                            </tr>
                            </thead>
                            <tbody id="tableBody">
                            </tbody>
                        </table>
                        <div id="no-result">No result</div>
                        <!-- Toast Notification -->
                        <div id="toast" class="toast">
                            <div id="toastMessage"></div>
                        </div>
                    </div>
                </div>
                <div class="table-data">
                    <div class="order">
                        <table>
                            <thead>
                            <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <p><button id="addCentreBtn" class="add-btn">Thêm </button></p>
                                </td>
                            </tr>
                            </tbody>
                            </thead>
                        </table>
                    </div>
                </div>
            </main>
            <!-- MAIN -->
        </section>
    </div>
</div>
<!-- Modal -->
<!-- Modal for Viewing Teacher Details -->
<div id="teacherDetailModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <iframe id="fns" data-id="${center.id}" width="1250" height="500" frameborder="0"
                scrolling="auto"></iframe>
    </div>
</div>
<!-- Delete Modal -->
<div id="deleteModal" class="modal">
    <div class="modal-content">
        <p>Bạn có chắc chắn muốn loại bỏ giáo viên <span id="teaName"></span>?</p>
        <button id="confirmDelete">Xác nhận</button>
        <button id="cancelDeleteButton">Huỷ</button>
    </div>
</div>

<!-- Add Center Modal -->
<div id="addCentreModal" class="modal">
    <div class="add-modal-content">
        <span id="cancelAdd" class="close">&times;</span>
        <h4 style="text-align:center">Thêm Trung Tâm</h4>
        <p>Nhập thông tin của trung tâm mới:</p>
        <!-- Add Centre Form NOT YET -->
        <form id="addCentreForm">
            <div>
                <label for="addCenterName">Tên trung tâm:</label>
                <input type="text" id="addCenterName" name="addCenterName" required>
            </div>
            <div>
                <label for="addCenterAddress">Địa chỉ trung tâm:</label>
                <input type="text" id="addCenterAddress" name="addCenterAddress" required>
            </div>
            <div>
                <label for="addCenterDesc">Mô tả:</label>
                <input type="text" id="addCenterDesc" name="addCenterDesc" required>
            </div>
            <div>
                <!--                                nên gửi/ đưa vào đâu-->
                <label for="addFileInput">File đính kèm:</label>
                <input type="file" id="addFileInput" accept=".pdf,.doc,.docx,.txt">
                <!-- <button onclick="chooseFile()">Chọn file</button> -->
            </div>
            <button type="submit" id="confirmAdd">Xác nhận</button>
        </form>

    </div>
</div>

<script src="/js/teacherManagement.js" type="module"></script>
<script src="/js/getCountIn.js"></script>
<script src="/js/dropdown.js"></script>

</body>

</html>