<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thời khóa biểu</title>
    <link rel="stylesheet" href="/css/timetable.css" />
    <script src="/js/timetable.js"></script>
    <script th:src="@{/js/fragments.js}" type="module"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js'></script>
    <th:block th:replace="fragments :: head"></th:block>

</head>
<body>
<div class="wrapper">
    <div th:replace="fragments :: header"></div>

    <div class="main_container">
        <section id="content">
            <!-- MAIN -->
            <main>
                <p th:text="${user.id}" id="userId"></p>
                <p th:text="${user.role.getDescription().name()}" id="userRole" style="display: none"></p>
                <div id="no-result">No result</div>
                <!--                Start timetable-->
                <div id='calendar'></div>
                <!--                End timetable-->

                <!-- End timetable -->
            </main>
            <!-- MAIN -->
        </section>
    </div>
    <div id="eventDetailModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="eventDetailContent"></div>
        </div>
    </div>

</div>
</body>
</html>
