<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thời khóa biểu</title>
    <link rel="stylesheet" href="/css/timetable.css" />
    <script src="/js/timetable.js"></script>
    <script th:src="@{/js/fragments.js}" type="module"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js'></script>
    <th:block th:replace="fragments :: head"></th:block>

</head>
<body>
<div class="wrapper">
    <div th:replace="fragments :: header"></div>

    <div class="main_container">
        <section id="content">
            <!-- MAIN -->
            <main>
                <p th:text="${user.id}" id="userId"></p>
                <p th:text="${user.role.getDescription().name()}" id="userRole" style="display: none"></p>
                <div id="no-result">No result</div>
                <!--                Start timetable-->
                <div id='calendar'></div>
                <!--                End timetable-->

                <!-- End timetable -->
            </main>
            <!-- MAIN -->
        </section>
    </div>
    <div id="eventDetailModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="eventDetailContent"></div>
        </div>
    </div>

    <div id="requestModal" class="modal">

        <form action="" id="contact-form">
            <span class="close" id="closeRequestModal">&times;</span>
<!--            <div class="input mb">-->
<!--                <div class="hidden"><label for="name" class="required">Name</label></div>-->
<!--                <div class="icon-container"><input type="text" name="name" id="name" placeholder="Name" class="icon-content" required><span class="fas fa-user icon"></span></div>-->
<!--            </div>-->

            <div class="input mb">
                <div class="hidden"><label for="email" class="required">Email</label></div>
                <div class="icon-container"><input type="email" name="email" id="email" placeholder="Email" class="icon-content" required><span class="fas fa-envelope icon"></span></div>
            </div>

            <div class="input mb">
                <div class="hidden"><label for="subject" class="required">Tiêu đề</label></div>
                <div class="icon-container"><input type="text" name="subject" id="subject" placeholder="Subject" class="icon-content" required><span class="fas fa-pencil-alt icon"></span></div>
            </div>

            <div class="input mb">
                <div class="hidden"><label for="message" class="required">Nội dung</label></div>
                <div class="icon-container"><textarea name="message" id="message" cols="10" rows="5" placeholder="Message..." class="icon-content" required></textarea><span class="fas fa-quote-left icon"></span></div>
            </div>

            <div class="input mb">
                <button type="submit" class="btn text-center">Gửi yêu cầu</button>
            </div>
        </form>
    </div>

</div>
</body>
</html>
