<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Email Code</title>
</head>
<body>
<h1>Verify Email</h1>
<form action="/api/student/verify-emaill" method="post">
    <label for="code">Verification Code:</label>
    <input type="text" id="code" name="code" required><br><br>

    <button type="submit">Verify</button>
</form>
<p th:text="${message}"></p>
<p th:text="${error}"></p>
</body>
</html>
